@import "../../../../assets/styles/mixins";

.select-item {
  background-color: #464e62;
}


.menu-items {
  padding-top: 1rem;
  min-height: 10vh;

  &__box {
    height: 50px;

    &--contain {
      padding-left: 10px;
      height: 28px;
      cursor: pointer;
      position: relative;

      .active {
        position: absolute;
        top: calc(50% - 14px);
        left: -1px;
        width: 5px;
        height: 28px;
        background-color: #0CACF8;
      }

      .icon {
        width: 22px;
        height: 22px;
        // margin-left: 15px;
        // margin-right: 8px;
        line-height: 21.25px;
        font-size: 21px;
        color: white;
      }

    }
  }
}

.premium {
  align-items: flex-end;
}
