<nav class="interviews-type flex nowrap jcfs aic bc-white">
  <div class="interviews-type__upcoming m-l-20 flex nowrpa jcsb aic" routerLinkActive="txt-c-blue" [routerLink]="[ 'upcoming' ]">
    <p class="interviews-type__upcoming--title font-14">UPCOMING</p>
    <p class="not-read flex nowrap jcc aic bc-blue">23</p>
    <span routerLinkActive="active-link bc-blue"></span>

  </div>
  <div class="interviews-type__completed m-l-20 flex nowrpa jcsb aic" routerLinkActive="txt-c-blue" [routerLink]="[ 'completed' ]">
    <p class="interviews-type__completed--title font-14">COMPLETED</p>
    <p class="not-read flex nowrap jcc aic bc-blue">44</p>
    <span routerLinkActive="active-link bc-blue"></span>

  </div>
  <div class="interviews-type__unconfirmed m-l-20 flex nowrpa jcsb aic" routerLinkActive="txt-c-blue"
    [routerLink]="[ 'unconfirmed' ]">
    <p class="interviews-type__unconfirmed--title font-14">UNCONFIRMED</p>
    <p class="not-read flex nowrap jcc aic bc-gray">0</p>
    <span routerLinkActive="active-link bc-blue"></span>

  </div>
</nav>
<section style.height="87%">
  <router-outlet></router-outlet>
</section>
