<nav class="interviews-type">
  <div class="interviews-type__upcoming" routerLinkActive="active" [routerLink]="[ 'upcoming' ]">
    <p class="interviews-type__upcoming--title">UPCOMING</p>
    <p class="not-read flex nowrap jcc aic bc-blue">23</p>
    <span routerLinkActive="interviews-type__upcoming--choose"></span>

  </div>
  <div class="interviews-type__completed" routerLinkActive="active" [routerLink]="[ 'completed' ]">
    <p class="interviews-type__completed--title">COMPLETED</p>
    <p class="not-read flex nowrap jcc aic bc-blue">44</p>
    <span routerLinkActive="interviews-type__upcoming--choose"></span>

  </div>
  <div class="interviews-type__unconfirmed" routerLinkActive="active" [routerLink]="[ 'unconfirmed' ]">
    <p class="interviews-type__unconfirmed--title">UNCONFIRMED</p>
    <p class="not-read flex nowrap jcc aic bc-gray">0</p>
    <span routerLinkActive="interviews-type__upcoming--choose"></span>

  </div>
</nav>
<section style.height="87%">
  <router-outlet></router-outlet>
</section>
