@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/font";

.interviews-type {
  width: 100%;
  height: 55px;
  // border-bottom: 1px solid #CBCBD9;
  border-top: 1px solid #CBCBD9;

  &__upcoming {
    // margin-left: 20px;
    min-width: 90px;
    height: 55px;
    cursor: pointer;
    position: relative;
    &--title {
      font-weight: 600;
    }
  }

  &__completed {
    @extend .interviews-type__upcoming;

    &--title {
      @extend .interviews-type__upcoming--title;

    }
  }

  &__unconfirmed {
    @extend .interviews-type__upcoming;


    &--title {
      @extend .interviews-type__upcoming--title;

    }
  }
}