@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/font";

main {
  @include flexbox(row, nowrap, space-around, flex-start);
    overflow: hidden;
    background-color: #EEF0F8;
}

.chat {
  //   position: fixed;
  width: 67%;
  height: 87vh;
  background-color: white;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.25);
  @include flexbox(column, nowrap, space-between, center);
  &__search {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #b9c1cc;
    @include flexbox(row, nowrap, flex-start, center);

    // &--icon {
    //   width: 13px;
    //   height: 13px;
    //   margin-left: 25px;
    // }
    &--icon {
      width: 15px;
      height: 15px;
      margin-left: 25px;
      line-height: 15px;
      font-family: 'search';
      font-size: 15px;
      color: #0CACF8;
      transition: transform 400ms linear;
    }

    &--icon::before {
      content: "\e902";
    }

    &--input {
      width: 84%;
      height: 24px;
      background-color: white;
      border: none;
      padding-left: 10px;
      font-family: "Poppins";
      font-size: 11px;
      font-weight: 500;
    }

    &--setting {
      width: 30px;
      height: 30px;
      padding: 0;
      border: none;
      background-color: #F0F8FF;
      margin-left: 20px;
      margin-right: 7px;
      @include flexbox(row, nowrap, center, center);

      .settings {
        width: 15px;
        height: 15px;
        // margin-left: 25px;
        line-height: 16px;
        font-family: 'settings';
        font-size: 15px;
        color: #6E7585;
        transition: transform 400ms linear;
      }

      .settings::before {
        content: "\e900";
      }

    }

    &--setting:hover {
      animation: rotate 600ms ease-in-out infinite;
    }
  }

  &__conversation {
    height: 90%;
    width: 100%;
    border-bottom: 1px solid #b9c1cc;
    overflow-y: auto;
    position: relative;
    @include flexbox(row, nowrap, center, center);

    &--text {
      width: 97%;
      @include flexbox(column, nowrap, space-around, flex-end);
      min-height: 10px;
      position: absolute;
      top: 10px;

      .user-recieve {

        width: 100%;
        min-height: 48px;
        @include flexbox(row, nowrap, space-around, flex-start);
        margin-bottom: 10px;

        &__logo {
          width: 35px;
          height: 35px;
          margin-right: 5px;
          //   margin-bottom: 20px;
        }

        &__person-data {
          width: 80%;
          min-height: 35px;
          @include flexbox(column, nowrap, flex-start, flex-start);
          margin-top: 3px;

          &--title {
            width: 100%;
            font-family: "Poppins";
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 5px;
          }

          &--text {
            width: 100%;
            font-family: "Poppins";
            font-size: 10px;
            font-weight: 500;
            color: #434955;
            line-height: 18px;
          }

        }

        &__other-data {
          width: 45px;
          height: 40px;
          margin-top: 5px;
          @include flexbox(column, nowrap, flex-start, flex-end);

          &--time {
            font-family: "Poppins";
            font-size: 10px;
            font-weight: 500;
            color: #b3b3b6;
            margin-bottom: 5px;

          }
        }
      }

      .user-recieve-reverse {

        width: 100%;
        min-height: 48px;
        @include flexbox(row-reverse, nowrap, space-around, flex-start);
        margin-bottom: 10px;

        &__logo {
          width: 35px;
          height: 35px;
          margin-left: 5px;
          //   margin-bottom: 20px;
        }

        &__person-data {
          width: 80%;
          min-height: 35px;
          @include flexbox(column, nowrap, flex-start, flex-start);
          margin-top: 3px;

          &--title {
            width: 100%;
            font-family: "Poppins";
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 5px;
            text-align: right;
          }

          &--text {
            text-align: right;
            width: 100%;
            font-family: "Poppins";
            font-size: 10px;
            font-weight: 500;
            color: #434955;
            line-height: 18px;
          }

        }

        &__other-data {
          width: 45px;
          height: 40px;
          margin-top: 5px;
          @include flexbox(column, nowrap, flex-start, flex-end);

          &--time {
            font-family: "Poppins";
            font-size: 10px;
            font-weight: 500;
            color: #b3b3b6;
            margin-bottom: 5px;

          }
        }
      }

      .date-period {
        width: 100%;
        height: 43px;
        margin-bottom: 10px;
        @include flexbox(row, nowrap, space-around, center);

        &__date {
          min-width: 5%;
          font-family: "Poppins";
          font-size: 12px;
          font-weight: 600;
          color: #8c919e;
          margin-left: 7px;
          width: max-content;
          min-width: auto;
          margin-right: 15px;
          white-space: nowrap;
        }

        &__hr {
          width: 100%;
          margin: 0%;
          border-bottom: 0.1px solid #8c919e;

        }
      }
    }


  }

  &__message {
    background-color: #F0F8FF;
    width: 100%;
    height: 54px;
    
    @include flexbox(row, nowrap, space-between, center);

    &--upload {
      width: 6%;
      @include flexbox(row, wrap, center, center);
      font-size: 16px;
      margin-right: 10px;

      label {
        font-size: 20px;
      }

      .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
      }

      .btn {
        @include flexbox(row, wrap, space-around, center);
        background-color: transparent;
        padding: 0px;
        border: none;
        font-size: 12px;
        font-weight: 500;
        width: 35px;
        height: 35px;
        cursor: pointer;

        &__paper-clip {
          width: 24px;
          height: 24px;

          line-height: 24px;
          font-family: 'paper-clip';
          font-size: 22px;
          color: #6E7585;
          transition: transform 400ms linear;
        }

        &__paper-clip::before {
          content: "\e900";
        }

      }

      .upload-btn-wrapper input[type=file] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 35px;
        height: 20px;
        cursor: pointer;

      }
    }

    &--input {
      width: 76%;
      height: 32px;
      font-family: "Poppins";
      font-size: 11px;
      font-weight: 500;
      padding-left: 10px;
      border: 1px solid #dbdbe5;
      box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.25);
    }

    &--input::placeholder {
      font-family: "Poppins";
      font-size: 11px;
      font-weight: 500;
      color: #c3c5c9;
    }

    &--send {
      width: 11%;
      height: 33px;
      background-color: #0cacf8;
      border: 1px solid #0cacf8;
      font-size: 11px;
      font-weight: 500;
      color: white;
      margin-left: 10px;
      margin-right: 10px;
      transition: background-color 600ms ease-in-out, border 600ms ease-in-out, box-shadow 600ms ease-in-out, color 600ms ease-in-out;
    }

    &--send:hover {
      background-color: transparent;
      border: 1px solid #0cacf8;
      box-shadow: 0px 0px 7px 1px #0cacf8;
      color: #0cacf8;
    }

    &--send:focus {
      background-color: transparent;
      border: 1px solid #0cacf8;
      box-shadow: 0px 0px 7px 1px #0cacf8;
      color: #0cacf8;
    }

  }

}

.person-details {
  width: 30%;
  height: 346px;
  background-color: white;
  @include flexbox(column, nowrap, flex-start, center);

  &__header {
    width: 85%;
    height: 94px;
    border-bottom: 1px solid #b6bac1;
    @include flexbox(row, nowrap, space-between, center);

    &--user-icon {
      width: 62px;
      height: 60px;
      margin-right: 5px;
    }

    &--info {
      width: 80%;
      height: 57px;
      @include flexbox(column, nowrap, space-between, flex-start);

      .person-name {
        font-family: "Poppins";
        font-size: 14px;
        font-weight: 600;
      }

      .person-skill {
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 500;
        ;
        color: #b3b3b6;
      }

      .person-rate {
        width: 30px;
        font-family: "Poppins";
        font-size: 10px;
        font-weight: 500;
        color: white;
        height: 15px;
        border-radius: 15px;
        background-color: #25bf50;
        @include flexbox(row, nowrap, center, center);
      }
    }
  }

  &__main {
    width: 85%;
    height: 180px;
    border-bottom: 1px solid #b6bac1;
    @include flexbox(row, wrap, space-between, center);

    &--speedOfwork {
      width: 50%;
      height: 30px;

      .title-of-speed {
        width: 100%;
        height: 14px;
        font-family: "Poppins";
        font-size: 9px;
        font-weight: 500;
        color: #b3b3b6;
      }

      .text-of-speed {
        width: 100%;
        height: 14px;
        font-family: "Poppins";
        font-size: 13px;
        font-weight: 550;
        color: #25b5f9;
      }
    }

    &--learnSkills {
      width: 50%;
      height: 30px;

      .title-learnSkills {
        width: 100%;
        height: 14px;
        font-family: "Poppins";
        font-size: 9px;
        font-weight: 500;
        color: #b3b3b6;
      }

      .text-learnSkills {
        width: 100%;
        height: 14px;
        font-family: "Poppins";
        font-size: 13px;
        font-weight: 500;
        color: #25b5f9;
      }
    }

    &--date {
      width: 50%;
      height: 30px;

      .title-date {
        width: 100%;
        height: 14px;
        font-family: "Poppins";
        font-size: 9px;
        font-weight: 500;
        color: #b3b3b6;
      }

      .text-date {
        width: 100%;
        height: 14px;
        font-family: "Poppins";
        font-size: 13px;
        font-weight: 500;
        // color: #25b5f9;
      }
    }

    &--salaryRange {
      width: 50%;
      height: 30px;

      .title-salary {
        width: 100%;
        height: 14px;
        font-family: "Poppins";
        font-size: 9px;
        font-weight: 500;
        color: #b3b3b6;
      }

      .text-salary {
        width: 100%;
        height: 14px;
        font-family: "Poppins";
        font-size: 13px;
        font-weight: 500;
        // color: #25b5f9;
      }
    }

    &--experience {
      width: 50%;
      height: 30px;

      .title-experience {
        width: 100%;
        height: 14px;
        font-family: "Poppins";
        font-size: 9px;
        font-weight: 500;
        color: #b3b3b6;
      }

      .text-experience {
        width: 100%;
        height: 14px;
        font-family: "Poppins";
        font-size: 13px;
        font-weight: 500;
        // color: #25b5f9;
      }
    }

    &--location {
      width: 50%;
      height: 30px;

      .title-loc {
        width: 100%;
        height: 14px;
        font-family: "Poppins";
        font-size: 9px;
        font-weight: 500;
        color: #b3b3b6;
      }

      .text-loc {
        @include flexbox(row, wrap, flex-start, center);
        width: 100%;
        height: 14px;
        font-family: "Poppins";
        font-size: 13px;
        font-weight: 500;

        span {
          width: 57px;
          height: 18px;
          background-color: #eef0f8;
          color: #676c78;
          margin-left: 10px;
          border-radius: 10px;
          font-family: "Poppins";
          font-size: 10px;
          font-weight: 500;
          @include flexbox(row, wrap, center, center);
        }

        // color: #25b5f9;
      }
    }
  }

  &__footer {
    width: 85%;
    height: 70px;
    // border-bottom: 1px solid #b6bac1;
    @include flexbox(row, nowrap, space-between, center);

    &--interview {
      width: 120px;
      height: 37px;
      background-color: #0cacf8;
      border: 1px solid #0cacf8;
      color: white;
      font-family: "Poppins";
      font-size: 12px;
      font-weight: 500;
      margin-right: 5px;
      transition: background-color 600ms ease-in-out, border 600ms ease-in-out, box-shadow 600ms ease-in-out, color 600ms ease-in-out;
    }

    &--interview:hover {
      background-color: transparent;
      border: 1px solid #0cacf8;
      box-shadow: 0px 0px 7px 1px #0cacf8;
      color: #0cacf8;
    }

    &--interview:focus {
      background-color: transparent;
      border: 1px solid #0cacf8;
      box-shadow: 0px 0px 7px 1px #0cacf8;
      color: #0cacf8;
    }

    &--add-person {
      width: 42px;
      height: 37px;
      border: none;
      background-color: #F0F8FF;

      .add-person {
        width: 22px;
        height: 18px;
        line-height: 22px;
        font-weight: 500;
        font-family: 'add-person';
        font-size: 20px;
        color: #6E7585;
      }

      .add-person::before {
        content: "\e900";
      }
    }

    &--delete-person {
      width: 42px;
      height: 37px;
      border: none;
      background-color: #F0F8FF;

      .delete-person {
        width: 22px;
        height: 18px;
        line-height: 22px;
        font-weight: 500;
        font-family: 'delete-person';
        font-size: 20px;
        color: #6E7585;
      }

      .delete-person::before {
        content: "\e900";
      }
    }

    &--more-option {
      width: 42px;
      height: 37px;
      border: none;
      background-color: #F0F8FF;

      .more-option {
        width: 22px;
        height: 18px;
        line-height: 22px;
        font-weight: 500;
        font-family: 'more-option';
        font-size: 20px;
        color: #6E7585;
      }

      .more-option::before {
        content: "\e900";
      }
    }
  }
}

@keyframes rotate {
  0% {
    border-radius: 50px;
    transform: rotate(90deg);
  }

  100% {
    border-radius: 50px;
    transform: rotate(180deg);
  }
}
