@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/font";

main {
  height: 92%;
}

.chat {
  width: 65%;
  height: 94%;
  margin: 15px;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.25);

  &__search {
    height: 45px;
    border-bottom: 1px solid #CBCBD9;

    &--icon {
      width: 15px;
      height: 15px;
      margin-left: 20px;
      line-height: 14px;
      font-size: 14px;
    }

    &--input {
      width: 84%;
      height: 30px;
      border: none;
      padding-left: 10px;
    }

    &--setting {
      width: 30px;
      height: 30px;
      padding: 0;
      border: none;
      margin-left: 20px;
      margin-right: 7px;

      .settings {
        width: 15px;
        height: 15px;
        line-height: 16px;
        font-size: 15px;
        color: #6E7585;
        transition: transform 400ms linear;
      }

      .icon-settings::before {
        color: #6E7585;
      }

    }

  }

  &__conversation {
    height: 91%;
    width: 100%;
    border-bottom: 1px solid #CBCBD9;
    overflow-y: auto;
    position: relative;

    &--text {
      width: 97%;
      min-height: 10px;
      position: absolute;
      top: 10px;

      .message {
        min-height: 48px;
        margin-bottom: 10px;

        &__logo {
          width: 35px;
          height: 35px;
          margin-right: 5px;
          border-radius: 50%;
          //   margin-bottom: 20px;
        }

        &__person-data {
          width: 80%;
          min-height: 35px;
          margin-top: 3px;

          &--title {
            font-weight: 600;
            margin-bottom: 5px;
          }

          &--text {
            line-height: 18px;
          }

        }

        &__other-data {
          width: 45px;
          height: 40px;
          margin-top: 5px;

          &--time {
            margin-bottom: 5px;

          }
        }
      }

      .date-period {
        height: 43px;
        margin-bottom: 10px;

        &__date {
          font-weight: 600;
          margin-left: 7px;
          width: max-content;
          min-width: auto;
          margin-right: 15px;
          white-space: nowrap;
          line-height: 8px;
        }

        &__hr {
          margin: 0%;
          border-bottom: 0.1px solid #CBCBD9;

        }
      }
    }


  }

  &__message {
    height: 54px;

    &--upload {
      width: 6%;
      font-size: 16px;
      margin-right: 10px;

      label {
        font-size: 20px;
      }

      .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        margin-left: 5px
      }

      .btn {
        background-color: transparent;
        padding: 0px;
        border: none;
        width: 35px;
        height: 50px;
        cursor: pointer;

        &__paper-clip {
          width: 24px;
          height: 24px;
          line-height: 24px;
          font-size: 22px;
          color: #6E7585;
          transition: transform 400ms linear;
        }

        .icon-paper-clip:before {
          color: #6E7585;
        }

      }

      .upload-btn-wrapper input[type=file] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 35px;
        height: 50px;
        cursor: pointer;

      }
    }

    &--input {
      width: 76%;
      height: 32px;
      padding-left: 10px;
      box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.25);
    }

    &--input::placeholder {
      font-family: "Poppins";
      font-size: 11px;
      font-weight: 500;
      color: #c3c5c9;
    }

    &--send {
      width: 11%;
      height: 33px;
      background-color: #0cacf8;
      border: 1px solid #0cacf8;
      color: white;
      margin-left: 10px;
      margin-right: 10px;
      transition: background-color 600ms ease-in-out, border 600ms ease-in-out, box-shadow 600ms ease-in-out, color 600ms ease-in-out;
    }

    &--send:hover {
      background-color: transparent;
      border: 1px solid #0cacf8;
      box-shadow: 0px 0px 7px 1px #0cacf8;
      color: #0cacf8;
    }

    &--send:focus {
      background-color: transparent;
      border: 1px solid #0cacf8;
      box-shadow: 0px 0px 7px 1px #0cacf8;
      color: #0cacf8;
    }

  }

}

.person-details {
  width: 30%;
  height: 346px;
  margin-top: 15px;
  margin-right: 15px;

  &__header {
    width: 85%;
    height: 94px;
    border-bottom: 1px solid #b6bac1;

    &--user-icon {
      width: 62px;
      height: 60px;
      margin-right: 5px;
    }

    &--info {
      width: 80%;
      height: 57px;

      .person-name {
        font-weight: 600;
      }

      .person-skill {
        color: #b3b3b6;
      }

      .person-rate {
        width: 30px;
        height: 15px;
        border-radius: 15px;
      }
    }
  }

  &__main {
    width: 85%;
    height: 180px;
    border-bottom: 1px solid #b6bac1;

    &--speedOfwork {
      width: 50%;
      height: 30px;

      .title-of-speed {
        height: 14px;
        color: #b3b3b6;
      }

      .text-of-speed {
        height: 14px;
        font-weight: 550;
        color: #25b5f9;
      }
    }

    &--learnSkills {
      width: 50%;
      height: 30px;

      .title-learnSkills {
        height: 14px;
        color: #b3b3b6;
      }

      .text-learnSkills {
        height: 14px;
        color: #25b5f9;
      }
    }

    &--date {
      width: 50%;
      height: 30px;

      .title-date {
        height: 14px;
        color: #b3b3b6;
      }

      .text-date {
        height: 14px;
        // color: #25b5f9;
      }
    }

    &--salaryRange {
      width: 50%;
      height: 30px;

      .title-salary {
        height: 14px;
        color: #b3b3b6;
      }

      .text-salary {
        height: 14px;
        // color: #25b5f9;
      }
    }

    &--experience {
      width: 50%;
      height: 30px;

      .title-experience {
        height: 14px;
        color: #b3b3b6;
      }

      .text-experience {
        height: 14px;
      }
    }

    &--location {
      width: 50%;
      height: 30px;

      .title-loc {
        height: 14px;
        color: #b3b3b6;
      }

      .text-loc {
        height: 14px;

        span {
          width: 57px;
          height: 18px;
          // margin-left: 10px;
          border-radius: 10px;
        }

        // color: #25b5f9;
      }
    }
  }

  &__footer {
    width: 85%;
    height: 70px;

    &--interview {
      width: 120px;
      height: 37px;
      background-color: #0cacf8;
      border: 1px solid #0cacf8;
      color: white;
      margin-right: 5px;
      transition: background-color 600ms ease-in-out, border 600ms ease-in-out, box-shadow 600ms ease-in-out, color 600ms ease-in-out;
    }

    &--interview:hover {
      background-color: transparent;
      border: 1px solid #0cacf8;
      box-shadow: 0px 0px 7px 1px #0cacf8;
      color: #0cacf8;
    }

    &--interview:focus {
      background-color: transparent;
      border: 1px solid #0cacf8;
      box-shadow: 0px 0px 7px 1px #0cacf8;
      color: #0cacf8;
    }

    &--add-person {
      width: 42px;
      height: 37px;
      border: none;

      .add-person {
        width: 22px;
        height: 18px;
        line-height: 22px;
        font-weight: 500;
        font-size: 20px;
        color: #6E7585;
      }
    }

    &--delete-person {
      width: 42px;
      height: 37px;
      border: none;
      background-color: #F0F8FF;

      .delete-person {
        width: 22px;
        height: 18px;
        line-height: 22px;
        font-weight: 500;
        font-size: 20px;
        color: #6E7585;
      }
    }

    &--more-option {
      width: 42px;
      height: 37px;
      border: none;
      background-color: #F0F8FF;

      .more-option {
        width: 22px;
        height: 18px;
        line-height: 22px;
        font-weight: 500;
        font-size: 20px;
        color: #6E7585;
      }
    }
  }
}
