@import "../../../../../assets/styles/mixins";
@import "../../../../../assets/styles/font";

.sorting {
  height: 60px;
  border-bottom: 1px solid #CBCBD9;
  ;

  &__left {
    width: auto;
    height: 60px;

    &--name {
      width: 150px;
      height: 38px;
      margin-left: 30px;
      cursor: pointer;
      position: relative;

      .visible {
        top: 0%;
        left: 0;
        height: 38px;
        position: absolute;
        color: #292F3D;
        border: 1px solid #CBCBD9;

        .items-drop {
          width: 9px;
          height: 6px;
          line-height: 5px;
          font-size: 9px;
          color: #6E7585;
        }

      }

      .hidden {
        overflow-y: auto;
        position: absolute;
        height: 165px;
        top: 38px;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: white;
        box-shadow: 0px 11px 20px rgba(29, 29, 47, 0.25);

        p {
          width: 100%;
          height: 50px;
          border-bottom: 1px solid #CBCBD9;
          color: #292F3D;
          line-height: 50px;
        }

        p:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }
      }

    }

    &--location {
      width: 150px;
      height: 38px;
      margin-left: 10px;
      margin-right: 10px;
      cursor: pointer;
      position: relative;

      .visible {
        top: 0%;
        left: 0;
        height: 38px;
        color: #292F3D;
        position: absolute;
        border: 1px solid #CBCBD9;

        .items-drop {
          width: 9px;
          height: 6px;
          line-height: 5px;
          font-size: 9px;
          color: #6E7585;
        }
      }

      .hidden {
        overflow-y: auto;
        position: absolute;
        height: 165px;
        top: 38px;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: white;
        box-shadow: 0px 11px 20px rgba(29, 29, 47, 0.25);

        p {
          width: 100%;
          height: 50px;
          border-bottom: 1px solid #CBCBD9;
          color: #292F3D;
          line-height: 50px;
        }

        p:hover {
          background-color: rgba(0, 0, 0, 0.04);
        }
      }

    }

    &--choose-sort {
      min-width: auto;
      height: 26px;
      padding: 6px;
      margin-left: 10px;
      border-radius: 182px;

      .title {
        white-space: nowrap;
        padding-left: 4px;
        color: #292F3D;
        margin-right: 5px;
        margin-left: 5px;
      }

      .delete-choose {
        width: 25px;
        height: 25px;
        background-color: #D2D4DE;
        border-radius: 50%;
        padding: 10px 5px 10px 5px;
        transition: transform 400ms linear;
        margin-left: 6px;



        &__cross {
          line-height: 6px;
          font-size: 9px;
          color: #292F3D;
        }
      }

      .delete-choose:hover {
        transform: rotate(180deg);
      }
    }
  }

  &__date {
    width: 157px;
    height: 38px;
    border-radius: 182px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #EEF0F8;
    position: relative;

    &--visible {
      top: 0%;
      left: 0;
      width: 100%;
      height: 38px;
      position: absolute;
      border-radius: 20px;

      .items-drop {
        width: 9px;
        height: 6px;
        line-height: 5px;
        // font-family: 'drop-down-arrow';
        font-size: 9px;
        color: #6E7585;
      }
    }

    &--hidden {
      overflow-y: auto;
      position: absolute;
      height: 98px;
      top: 38px;
      right: 6px;
      width: 100%;
      padding: 10px;
      background-color: white;
      box-shadow: 0px 11px 20px rgba(29, 29, 47, 0.25);
      z-index: 1;

      p {
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #CBCBD9;
        // color: #292F3D;
        line-height: 50px;
      }

      p:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }


  }

  &__date:focus {
    border: 1px solid #44b4e7;
  }
}

.jobApply {
  height: 75vh;
  overflow-y: auto;

  &__container {
    padding: 15px 15px 0px 15px;
    min-height: 10vh;

    &--list {
      min-height: 82px;
      border-radius: 2px;
      margin-bottom: 10px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);

      .createDate {
        width: 10%;
        min-height: 40px;

        &__title {
          line-height: 18px;
          text-transform: uppercase;
          color: #6E7585;

        }

        &__text {
          line-height: 21px;
          align-items: center;
        }

      }

      .name {
        width: 15%;
        min-height: 40px;
        margin-left: 20px;

        &__title {
          @extend .createDate__title;
        }

        &__text {
          @extend .createDate__text;
          font-weight: bold;
          line-height: 22px;
          font-size: 15px;
        }

      }

      .unitName {
        width: 8%;
        min-height: 40px;

        &__title {
          @extend .createDate__title;
        }

        &__text {
          @extend .createDate__text;
        }

      }

      .unitLocation {
        width: 8%;
        min-height: 40px;

        &__title {
          @extend .createDate__title;
        }

        &__text {
          @extend .createDate__text;
        }

      }

      .mainSkill {
        width: 8%;
        min-height: 40px;

        &__title {
          @extend .createDate__title;
        }

        &__text {
          @extend .createDate__text;
        }

      }

      .addSkill {
        width: 15%;
        min-height: 40px;

        &__title {
          @extend .createDate__title;
        }

        &__text {
          @extend .createDate__text;
        }

      }

      .progNeed {
        width: 14%;
        min-height: 40px;

        &__title {
          @extend .createDate__title;
        }

        &__text {
          @extend .createDate__text;
        }

      }

      .dueDate {
        width: 10%;
        min-height: 40px;

        &__title {
          @extend .createDate__title;
        }

        &__text {
          @extend .createDate__text;
        }

      }

      .option {
        width: 30px;
        height: 40px;
        position: relative;
        margin-right: 20px;

        &__button {
          width: 30px;
          height: 40px;
          border: none;


          &--icon {
            height: 100%;
            line-height: 20px;
            font-size: 30px;
            color: #6E7585;
          }

          &--icon {
            transform: rotate(90deg);
          }
        }

        &__menu {
          position: absolute;
          top: 35px;
          right: -6px;
          width: 150px;
          height: 112px;
          z-index: 3;
          box-shadow: 3px 3.5px 7px 0.5px rgba(0, 0, 0, 0.25);

          &--line {
            width: 80%;
            background-color: #CBCBD9;
            height: 1px;
          }

          &--items {
            width: 80%;
            height: 50px;
            transition: background 600ms ease-in-out, background-position 600ms ease-in-out;

            .items-turn-off {
              width: 20px;
              height: 20px;
              // font-family: 'turn-off';
              font-size: 15px;
              line-height: 20px;
            }

            .items-edit {
              width: 20px;
              height: 20px;
              // font-family: 'edit';
              font-size: 15px;
              line-height: 20px;

            }



            .items-text {
              line-height: 21px;
              margin-left: 8px;
              line-height: 21px;
            }
          }

          &--items:hover {
            background: whitesmoke;
            background-position: 50%;
            cursor: pointer;
          }
        }

      }
    }
  }
}

::-webkit-scrollbar {
  width: 2.5px;
  height: 6px;
  background: transparent;
}
