<section class="sorting">
  <div class="sorting__left">

    <div class="sorting__left--name" (clickOutside)="onClickedOutsideItem($event, 'name')" (click)="openHidden('name')">
      <button class="visible" [style.border]="isName? '1px solid #0CACF8' : '1px solid #CBCBD9'">
        <p class="visible__title">{{name}}</p>
        <span aria-hidden="true" data-icon="&#xe900;"
          [style.font-family]="!isName ? 'drop-down-arrow' : 'drop-up-arrow'" class="items-drop"></span>
      </button>
      <div class="hidden" [style.display]="isName ? 'block' : 'none'">
        <p *ngFor="let name of unitNames; let i=index" (click)="addFilter(name, 'name')"
          (click)="chooseItem(name, 'name')">{{name}}</p>
      </div>
    </div>


    <div class="sorting__left--location" (clickOutside)="onClickedOutsideItem($event, 'location')"
      (click)="openHidden('location')">
      <button class="visible" [style.border]="isLocation ? '1px solid #0CACF8' : '1px solid #CBCBD9'">
        <p class="visible__title">{{location}}</p>
        <span aria-hidden="true" data-icon="&#xe900;"
          [style.font-family]="!isLocation ? 'drop-down-arrow' : 'drop-up-arrow'" class="items-drop"></span>
      </button>
      <div class="hidden" [style.display]="isLocation ? 'block' : 'none'">
        <p *ngFor="let location of unitLocation; let i=index" (click)="addFilter(location, 'location')"
          (click)="chooseItem(location, 'location')">{{location}}
        </p>
      </div>
    </div>
    <div class="sorting__left--choose-sort" *ngFor="let sortOption of sortOptions; let i=index">
      <p class="title">{{sortOption.item}}</p>
      <button class="delete-choose" (click)="deleteFilter(i, sortOption)">
        <!-- <img class="delete-choose__cross" src="../../../../assets/image/close.svg" alt=""> -->
        <span aria-hidden="true" data-icon="&#xe900;" class="delete-choose__cross"></span>
      </button>
    </div>
  </div>
  <div class="sorting__date" (clickOutside)="onClickedOutsideItem($event, 'dates')" (click)="openHidden('dates')">
    <button class="sorting__date--visible" [style.border]="isDate ? '1px solid #0CACF8' : '1px solid #EEF0F8'">
      <p class="drop-title">{{date}}</p>
      <span aria-hidden="true" data-icon="&#xe900;" [style.font-family]="!isDate ? 'drop-down-arrow' : 'drop-up-arrow'"
        class="items-drop"></span>

    </button>
    <div class="sorting__date--hidden" [style.display]="isDate ? 'block' : 'none'">
      <p *ngFor="let dates of creatDate; let i=index" (click)="chooseItem(dates, 'dates')">
        {{dates}}</p>
    </div>
  </div>
</section>
<section class="jobApply">
  <div class="jobApply__container">
    <div class="jobApply__container--list" *ngFor="let item of vacancies  | sortOrders: name : location; let i=index ">
      <div class="createDate">
        <p class="createDate__title">CREATION DATE</p>
        <p class="createDate__text">{{item.creationDate}}</p>
      </div>
      <div class="name">
        <p class="name__title">NAME</p>
        <p class="name__text">{{item.name}}</p>
      </div>
      <div class="unitName">
        <p class="unitName__title">UNIT NAME</p>
        <p class="unitName__text">{{item.unitName}}</p>
      </div>
      <div class="unitLocation">
        <p class="unitLocation__title">UNIT LOCAION</p>
        <p class="unitLocation__text">{{item.unitLocation}}</p>
      </div>
      <div class="mainSkill">
        <p class="mainSkill__title">MAIN SKILL</p>
        <p class="mainSkill__text">{{item.mainSkill}}</p>
      </div>
      <div class="addSkill">
        <p class="addSkill__title">ADITIONAL SKILLS</p>
        <p class="addSkill__text">{{item.additionalSkill}}</p>
      </div>
      <div class="progNeed">
        <p class="progNeed__title">PROGRAMMERS NEEDED</p>
        <p class="progNeed__text">{{item.progNeed}}</p>
      </div>
      <div class="dueDate">
        <p class="dueDate__title">DUE DATE</p>
        <p class="dueDate__text">{{item.dueDate}}</p>
      </div>
      <div class="option" (clickOutside)="onClickedOutsideOption($event, i)" (click)="openOption(i)">
        <button class="option__button">
          <span aria-hidden="true" [style.color]="checkOption == i ? '#0CACF8' : '#6E7585'" data-icon="&#xe900;"
            class="option__button--icon"></span>
        </button>
        <div class="option__menu"
          [style.top]="((i === vacancies.length-1 && vacancies.length > 2) || (i === vacancies.length-2 && vacancies.length > 3) ) ? '-120px' : '30px'"
          [style.display]="checkOption == i ? 'flex' : 'none'">
          <!-- <div class="option__menu--items" (click)="openOption(i)">
            <img class="items-icon" src="../../../../assets/image/view.svg" alt="">
            <p class="items-text">View order</p>
          </div> -->
          <div class="option__menu--items" (click)="openOption(i)" (click)="editCurrOrder(item)">
            <span aria-hidden="true" data-icon="&#xe900;" class="items-edit"></span>
            <p class="items-text">Edit order</p>
          </div>
          <div class="option__menu--items" [style.border-bottom]="'none'" (click)="closeOrder(item.id)"
            (click)="openOption(i)">
            <span aria-hidden="true" data-icon="&#xe900;" class="items-turn-off"></span>
            <p class="items-text">Close order</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
