@import "../../../../../assets/styles/mixins";
@import "../../../../../assets/styles/font";

.sorting {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(175, 175, 175);
  @include flexbox(row, nowrap, space-between, center);

  &__left {
    width: 40%;
    height: 50px;
    @include flexbox(row, nowrap, flex-start, center);

    &--name {
      width: 110px;
      height: 30px;
      //   border: 1px solid #dcdcdc;
      margin-left: 20px;
      @include flexbox(row, nowrap, space-between, center);
      //   background-color: transparent;
      cursor: pointer;
      position: relative;

      .visible {
        top: 0%;
        left: 0;
        width: 100%;
        height: 30px;
        position: absolute;
        background-color: transparent;
        @include flexbox(row, nowrap, space-between, center);
        border: 1px solid #dcdcdc;

        &__title {
          font-family: "Poppins";
          font-size: 11px;
          font-weight: 500;
          padding-left: 4px;
        }

        &__drop-icon {
          width: 11px;
          height: 9px;
        }
      }

      // .visible:focus {
      //   border: 1px solid #44b4e7;
      // }

      .hidden {
        overflow-y: auto;
        position: absolute;
        height: 165px;
        top: 30px;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: white;
        box-shadow: 8px 14px 8px rgba(0, 0, 0, 0.25);

        p {
          width: 100%;
          height: 30px;
          border-bottom: 1px solid rgb(175, 175, 175);
          color: #5e5f63;
          margin-bottom: 5px;
          font-family: "Poppins";
          font-size: 13px;
          font-weight: 500;
          line-height: 21px;
        }
      }

    }

    &--location {
      width: 110px;
      height: 30px;
      margin-left: 10px;
      //   border: 1px solid #dcdcdc;
      @include flexbox(row, nowrap, space-between, center);
      //   background-color: transparent;
      cursor: pointer;
      position: relative;

      .visible {
        top: 0%;
        left: 0;
        width: 100%;
        height: 30px;
        position: absolute;
        background-color: transparent;
        @include flexbox(row, nowrap, space-between, center);
        border: 1px solid #dcdcdc;

        &__title {
          font-family: "Poppins";
          font-size: 11px;
          font-weight: 500;
          padding-left: 4px;
        }

        &__drop-icon {
          width: 11px;
          height: 9px;
        }
      }

      // .visible:focus {
      //   border: 1px solid #44b4e7;
      // }

      .hidden {
        overflow-y: auto;
        position: absolute;
        height: 165px;
        top: 30px;
        left: 0;
        width: 100%;
        padding: 10px;
        background-color: white;
        box-shadow: 8px 14px 8px rgba(0, 0, 0, 0.25);

        p {
          width: 100%;
          height: 30px;
          border-bottom: 1px solid rgb(175, 175, 175);
          color: #5e5f63;
          margin-bottom: 5px;
          font-family: "Poppins";
          font-size: 13px;
          font-weight: 500;
          line-height: 21px;
        }
      }

    }

    &--choose-sort {
      min-width: auto;
      height: 20px;
      border-radius: 20px;
      padding: 6px;
      margin-left: 10px;
      background-color: #eef0f8;
      @include flexbox(row, nowrap, space-around, center);

      .title {
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 500;
        padding-left: 4px;
        color: rgb(113, 111, 111);
        margin-right: 5px;
        margin-left: 5px;
      }

      .delete-choose {
        width: 20px;
        height: 20px;
        background-color: #d2d4de;
        border-radius: 50%;
        border: none;
        @include flexbox(row, nowrap, center, center);
        transition: transform 400ms linear;
        margin-left: 5px;

        &__cross {
          width: 7px;
          height: 7px;
        }

      }

      .delete-choose:hover {
        transform: rotate(180deg);
      }
    }
  }

  &__date {
    width: 120px;
    height: 30px;
    @include flexbox(row, nowrap, space-around, center);
    border-radius: 20px;
    background-color: #eef0f8;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid #eef0f8;
    position: relative;

    &--visible {
      top: 0%;
      left: 0;
      width: 100%;
      height: 32px;
      position: absolute;
      background-color: transparent;
      border-radius: 20px;
      @include flexbox(row, nowrap, space-between, center);
      border: 1px solid #dcdcdc;

      .drop-title {
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 500;
        padding-left: 4px;
        color: rgb(113, 111, 111);
      }

      .drop {
        width: 11px;
        height: 9px;
      }
    }

    &--hidden {
     

      overflow-y: auto;
      position: absolute;
      height: 165px;
      top: 30px;
      right: 6px;
      width: 100%;
      padding: 10px;
      background-color: white;
      box-shadow: 8px 14px 8px rgba(0, 0, 0, 0.25);
      z-index: 1;

      p {
        width: 100%;
        height: 30px;
        border-bottom: 1px solid rgb(175, 175, 175);
        color: #5e5f63;
        margin-bottom: 5px;
        font-family: "Poppins";
        font-size: 13px;
        font-weight: 500;
        line-height: 21px;
      }
    }


  }

  &__date:focus {
    border: 1px solid #44b4e7;
  }
}

.jobApply {
  width: 100%;
  min-height: 77.5vh;
  background-color: #eef0f8;
  overflow-y: auto;

  &__container {
    padding: 15px 15px 0px 15px;
    min-height: 77.5vh;
    // overflow-y: visible;

    &--list {
      width: 100%;
      height: 60px;
      background-color: white;
      border-radius: 2px;
      margin-bottom: 10px;
      @include flexbox(row, nowrap, space-around, center);

      .createDate {
        width: 10%;
        height: 40px;
        @include flexbox(column, nowrap, space-around, flex-start);

        &__title {
          color: rgb(142, 137, 137);
          font-family: "Poppins";
          font-size: 10px;
          font-weight: 550;
        }

        &__text {
          font-family: "Poppins";
          font-size: 11px;
          font-weight: 400;
        }

      }

      .name {
        width: 15%;
        height: 40px;
        @include flexbox(column, nowrap, space-around, flex-start);

        &__title {
          @extend .createDate__title;
        }

        &__text {
          @extend .createDate__text;
          font-weight: 700;
        }

      }

      .unitName {
        width: 8%;
        height: 40px;
        @include flexbox(column, nowrap, space-around, flex-start);

        &__title {
          @extend .createDate__title;
        }

        &__text {
          @extend .createDate__text;
        }

      }

      .unitLocation {
        width: 8%;
        height: 40px;
        @include flexbox(column, nowrap, space-around, flex-start);

        &__title {
          @extend .createDate__title;
        }

        &__text {
          @extend .createDate__text;
        }

      }

      .mainSkill {
        width: 8%;
        height: 40px;
        @include flexbox(column, nowrap, space-around, flex-start);

        &__title {
          @extend .createDate__title;
        }

        &__text {
          @extend .createDate__text;
        }

      }

      .addSkill {
        width: 15%;
        height: 40px;
        @include flexbox(column, nowrap, space-around, flex-start);

        &__title {
          @extend .createDate__title;
        }

        &__text {
          @extend .createDate__text;
        }

      }

      .progNeed {
        width: 14%;
        height: 40px;
        @include flexbox(column, nowrap, space-around, flex-start);

        &__title {
          @extend .createDate__title;
        }

        &__text {
          @extend .createDate__text;
        }

      }

      .dueDate {
        width: 10%;
        height: 40px;
        @include flexbox(column, nowrap, space-around, flex-start);

        &__title {
          @extend .createDate__title;
        }

        &__text {
          @extend .createDate__text;
        }

      }

      .option {
        width: 30px;
        height: 20px;
        position: relative;

        &__button {
          position: absolute;
          top: 0%;
          width: 30px;
          height: 20px;
          background-color: transparent;
          border: none;

          img {
            width: 15px;
            height: 15px;
          }
        }

        &__menu {
          // display: none;
          position: absolute;
          top: 30px;
          right: -6px;
          width: 135px;
          height: 112px;
          background-color: white;
          @include flexbox(column, nowrap, space-around, center);
          z-index: 3;
          box-shadow: 3px 3.5px 7px 0.5px rgba(0, 0, 0, 0.25);

          &--items {
            @include flexbox(row, nowrap, flex-start, center);
            width: 70%;
            height: 33px;
            padding: 5px;
            border-bottom: 1px solid gray;
            transition: background 600ms ease-in-out, background-position 600ms ease-in-out;

            .items-icon {
              width: 18px;
              height: 18px;
            }

            .items-text {
              font-family: sans-serif;
              font-size: 12px;
              font-weight: 600;
              color: #8e8989;
              margin-left: 8px;
            }
          }

          &--items:hover {
            background: whitesmoke;
            background-position: 50%;
            cursor: pointer;
          }
        }

      }
    }
  }
}
::-webkit-scrollbar {
  width: 2.5px;
  height: 6px;
  background: transparent;
}