<section class="sorting w-100 flex nowrap jcsb aic bc-white">
  <div class="sorting__left flex nowrap aic">

    <div class="sorting__left--name flex nowrap jcsb aic" (clickOutside)="onClickedOutsideItem($event, 'name')"
      (click)="openHidden('name')">
      <button class="visible flex nowrap jcsb aic btn bc-white w-100"
        [style.border]="isName? '1px solid #0CACF8' : '1px solid #CBCBD9'">
        <p class="visible__title">{{name}}</p>
        <span aria-hidden="true" [class]="!isName ? 'icon-drop-down-arrow' : 'icon-drop-up-arrow'"
          class="items-drop"></span>
      </button>
      <div class="hidden" [style.display]="isName ? 'block' : 'none'">
        <p *ngFor="let name of unitNames; let i=index" (click)="addFilter(name, 'name')"
          (click)="chooseItem(name, 'name')">{{name}}</p>
      </div>
    </div>


    <div class="sorting__left--location flex nowrap jcsb aic" (clickOutside)="onClickedOutsideItem($event, 'location')"
      (click)="openHidden('location')">
      <button class="visible flex nowrap jcsb aic btn bc-white w-100"
        [style.border]="isLocation ? '1px solid #0CACF8' : '1px solid #CBCBD9'">
        <p class="visible__title">{{location}}</p>
        <span aria-hidden="true" [class]="!isLocation ? 'icon-drop-down-arrow' : 'icon-drop-up-arrow'"
          class="items-drop"></span>
      </button>
      <div class="hidden" [style.display]="isLocation ? 'block' : 'none'">
        <p *ngFor="let location of unitLocation; let i=index" (click)="addFilter(location, 'location')"
          (click)="chooseItem(location, 'location')">{{location}}
        </p>
      </div>
    </div>
    <div class="sorting__left--choose-sort flex nowrap jcsa aic bc-gray"
      *ngFor="let sortOption of sortOptions; let i=index">
      <p class="title">{{sortOption.item}}</p>
      <button class="delete-choose flex nowrap jcc aic btn" (click)="deleteFilter(i, sortOption)">
        <span aria-hidden="true" class="delete-choose__cross icon-close"></span>
      </button>
    </div>
  </div>
  <div class="sorting__date flex nowrap jcsa aic bc-gray" (clickOutside)="onClickedOutsideItem($event, 'dates')"
    (click)="openHidden('dates')">
    <button class="sorting__date--visible bc-gray flex nowrap jcsa aic btn w-100"
      [style.border]="isDate ? '1px solid #0CACF8' : '1px solid #EEF0F8'">
      <p class="drop-title">{{date}}</p>
      <span aria-hidden="true" [class]="!isDate ? 'icon-drop-down-arrow' : 'icon-drop-up-arrow'"
        class="items-drop"></span>

    </button>
    <div class="sorting__date--hidden" [style.display]="isDate ? 'block' : 'none'">
      <p *ngFor="let dates of creatDate; let i=index" (click)="chooseItem(dates, 'dates')">
        {{dates}}</p>
    </div>
  </div>
</section>
<section class="jobApply bc-gray w-100">
  <div class="jobApply__container">
    <div class="jobApply__container--list w-100 flex nowrap jcsb aic bc-white"
      *ngFor="let item of vacancies  | sortOrders: name : location; let i=index ">
      <!-- <div class="createDate flex col nowrap jcsa">
        <p class="createDate__title">CREATION DATE</p>
        <p class="createDate__text flex">{{item.creationDate}}</p>
      </div> -->
      <div class="name flex col nowrap jcsa">
        <p class="name__title">NAME</p>
        <p class="name__text flex">{{item.name}}</p>
      </div>
      <div class="unitName flex col nowrap jcsa">
        <p class="unitName__title">UNIT NAME</p>
        <p class="unitName__text flex">{{item.unitName}}</p>
      </div>
      <div class="unitLocation flex col nowrap jcsa">
        <p class="unitLocation__title">UNIT LOCAION</p>
        <p class="unitLocation__text flex">{{item.unitLocation}}</p>
      </div>
      <div class="mainSkill flex col nowrap jcsa">
        <p class="mainSkill__title">MAIN SKILL</p>
        <p class="mainSkill__text flex">{{item.mainSkill}}</p>
      </div>
      <!-- <div class="addSkill flex col nowrap jcsa">
        <p class="addSkill__title">ADITIONAL SKILLS</p>
        <p class="addSkill__text flex">{{item.additionalSkill}}</p>
      </div> -->
      <div class="progNeed flex col nowrap jcsa">
        <p class="progNeed__title">PROGRAMMERS NEEDED</p>
        <p class="progNeed__text flex">{{item.progNeed}}</p>
      </div>
      <!-- <div class="dueDate flex col nowrap jcsa">
        <p class="dueDate__title">DUE DATE</p>
        <p class="dueDate__text flex">{{item.dueDate}}</p>
      </div> -->
      <div class="option" (clickOutside)="onClickedOutsideOption($event, i)" (click)="openOption(i)">
        <button class="option__button btn bc-white flex aic">
          <span aria-hidden="true" (mouseover)="changeText=i" [style.color]="checkOption == i ? '#0CACF8' : '#6E7585'"
            class="option__button--icon icon-more-option"></span>
        </button>
        <div class="option__menu bc-white flex col nowrap jcsa aic"
          [style.top]="((i === vacancies.length-1 && vacancies.length > 2) || (i === vacancies.length-2 && vacancies.length > 3) ) ? '-120px' : '30px'"
          [style.display]="checkOption == i ? 'flex' : 'none'">
          <!-- <div class="option__menu--items" (click)="openOption(i)">
            <img class="items-icon" src="../../../../assets/image/view.svg" alt="">
            <p class="items-text">View order</p>
          </div> -->
          <div class="option__menu--items flex nowrap aic" (click)="openOption(i)" (click)="editCurrOrder(item)">
            <span aria-hidden="true" class="items-edit icon-edit"></span>
            <p class="items-text">Edit order</p>
          </div>
          <span class="option__menu--line"></span>
          <div class="option__menu--items flex nowrap aic" (click)="closeOrder(item.id)" (click)="openOption(i)">
            <span aria-hidden="true" class="items-turn-off icon-turn-off"></span>
            <p class="items-text">Close order</p>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>
