<div class="tabcontent flex wrap aic jcc">
  <div class="candidates-info p-20 m-b-10 bc-light-blue flex nowrap aic jcfs">
    <img class="candidates-info__logo m-r-15"
      src="https://firebasestorage.googleapis.com/v0/b/skillcheckers-ac855.appspot.com/o/userImg%2Fuser_13.png?alt=media&token=1db536b8-3bb2-4b4e-a8c4-8f6344a8917b"
      alt="">
    <div class="candidates-info__data">
      <p class="candidates-info__data--name font-16 m-b-10">Titus Kitamura</p>
      <p class="candidates-info__data--proff txt-c-initial font-13">Software Engineer</p>
    </div>
    <p class="candidates-info__rate bc-white txt-c-green txt-a-c line-height-22 font-13">8.6</p>
    <div class="candidates-info__reverse bc-white flex nowrap aic jcc">
      <span class="icon-reverse font-20"></span>
    </div>
  </div>
  <div class="candidates-info p-20 m-b-10 bc-light-blue flex nowrap aic jcfs">
    <img class="candidates-info__logo m-r-15"
      src="https://firebasestorage.googleapis.com/v0/b/skillcheckers-ac855.appspot.com/o/userImg%2Fuser_18.png?alt=media&token=cdc2ba2f-0182-4426-a822-9ec32b6f6791"
      alt="">
    <div class="candidates-info__data">
      <p class="candidates-info__data--name font-16 m-b-10">Charolette Hanlin</p>
      <p class="candidates-info__data--proff txt-c-initial font-13">Senior Application</p>
    </div>
    <p class="candidates-info__rate bc-white txt-c-green txt-a-c line-height-22 font-13">7.3</p>
  </div>
  <div class="candidates-info p-20 m-b-10 bc-light-blue flex nowrap aic jcfs">
    <img class="candidates-info__logo m-r-15"
      src="https://firebasestorage.googleapis.com/v0/b/skillcheckers-ac855.appspot.com/o/userImg%2Fuser_14.png?alt=media&token=27076566-10a6-4e6b-8939-b49390236643"
      alt="">
    <div class="candidates-info__data">
      <p class="candidates-info__data--name font-16 m-b-10">Annabel Rohan</p>
      <p class="candidates-info__data--proff txt-c-initial font-13">Java Developer</p>
    </div>
    <p class="candidates-info__rate bc-white txt-c-green txt-a-c line-height-22 font-13">7.5</p>
  </div>
  <div class="candidates-info p-20 m-b-10 bc-light-blue flex nowrap aic jcfs">
    <img class="candidates-info__logo m-r-15"
      src="https://firebasestorage.googleapis.com/v0/b/skillcheckers-ac855.appspot.com/o/userImg%2Fuser_19.png?alt=media&token=59205ed2-81f3-4822-bc7c-4c0c5340736d"
      alt="">
    <div class="candidates-info__data">
      <p class="candidates-info__data--name font-16 m-b-10">Leif Floyd</p>
      <p class="candidates-info__data--proff txt-c-initial font-13">Software Engineer</p>
    </div>
    <p class="candidates-info__rate bc-white txt-c-green txt-a-c line-height-22 font-13">8.1</p>
  </div>
  <div class="candidates-info p-20 m-b-10 bc-light-blue flex nowrap aic jcfs">
    <img class="candidates-info__logo m-r-15"
      src="https://firebasestorage.googleapis.com/v0/b/skillcheckers-ac855.appspot.com/o/userImg%2Fuser_17.png?alt=media&token=af8709ab-db1c-4634-9fa8-dea0fe4cecff"
      alt="">
    <div class="candidates-info__data">
      <p class="candidates-info__data--name font-16 m-b-10">Clinton Mcclure</p>
      <p class="candidates-info__data--proff txt-c-initial font-13">Software Engineer</p>
    </div>
    <p class="candidates-info__rate bc-white txt-c-green txt-a-c line-height-22 font-13">9.1</p>
  </div>
  <div class="candidates-info p-20 m-b-10 bc-light-blue flex nowrap aic jcfs">
    <img class="candidates-info__logo m-r-15"
      src="https://firebasestorage.googleapis.com/v0/b/skillcheckers-ac855.appspot.com/o/userImg%2Fuser_20.png?alt=media&token=116eab50-dc7c-4305-b187-04f37ea0db07"
      alt="">
    <div class="candidates-info__data">
      <p class="candidates-info__data--name font-16 m-b-10">Kylee Danford</p>
      <p class="candidates-info__data--proff txt-c-initial font-13">Senior Application</p>
    </div>
    <p class="candidates-info__rate bc-white txt-c-green txt-a-c line-height-22 font-13">6.9</p>
  </div>
</div>
