<main>
  <section class="users-list">
    <div *ngFor="let event of fourDayEvents" class="users-list__fourEvents">
      <p class="users-list__fourEvents--date"
        *ngIf="currDay === +event[0]?.interviewTime.split('.')[0] ; else tomorrow">
        TODAY</p>
      <ng-template #tomorrow>
        <p class="users-list__fourEvents--date"
          *ngIf="currDay+1 === +event[0]?.interviewTime.split('.')[0] ; else date">
          TOMORROW, {{+event[0].interviewTime.split('.')[0]}}
          {{month[+event[0].interviewTime.split('.')[1] - 1].monthName.toUpperCase()}} </p>
      </ng-template>
      <ng-template #date>
        <p class="users-list__fourEvents--date" *ngIf="+event[0]?.interviewTime.split('.')[0]">
          {{+event[0].interviewTime.split('.')[0]}} {{month[+event[0].interviewTime.split('.')[1] - 1].monthName.toUpperCase()}} {{+event[0].interviewTime.split('.')[2].substr(0,4)}}</p>
      </ng-template>

      <div class="users-list__fourEvents--person" *ngFor="let person of event">
        <div class="logo">
          <img class="logo__person-img" src="../../../../../assets/image/clearuser1.png" alt="">
          <p class="logo__person-rate">{{person.personRate.toFixed(1)}}</p>
        </div>
        <div class="data">
          <h2 class="data__person-name">{{person.personData}}</h2>
          <p class="data__person-profession">{{person.profesion}}</p>
        </div>
        <div class="interview-date">
          <p class="interview-date__date-title"> DATE & TIME </p>
          <div class="interview-date__interview-time">
            <img class="interview-date__interview-time--icon" src="../../../../../assets/image/clock.svg" alt="">
            <p class="interview-date__interview-time--text">{{person.interviewTime}}</p>
          </div>
        </div>
        <div class="interviewers">
          <p class="interviewers__interviewers-title">INTERVIEWERS</p>
          <div class="interviewers__interviewers-all">
            <img src="../../../../../assets/image/interviewer1.jpg" alt="" class="interviewers__interviewers-all--icon">
            <img src="../../../../../assets/image/interviewer2.jpg" alt="" class="interviewers__interviewers-all--icon">
          </div>
        </div>
        <div class="orders">
          <p class="orders__orders-title">ORDERS</p>
          <p class="orders__orders-prof">{{person.orders}}</p>
        </div>
        <div class="buttons">
          <button class="buttons__start"> <img class="buttons__start--play" src="../../../../../assets/image/play.svg"
              alt="">
            Start</button>
          <button class="buttons__make-date"><img src="../../../../../assets/image/calendar_clock_icon_135839.svg"
              alt=""></button>
          <div class="buttons__cancel-button">
            <div class="buttons__cancel-button--hidden" [style.display]="hover == person.personData ? 'flex' : 'none'"
              [style.transition]="'display 1600ms ease-in-out'">
              <p class="hidden-text">Cancel</p>
              <span class="hidden-arrow-down"></span>
            </div>
            <button class="buttons__cancel-button--visible" (mouseover)="hoverCancel(true, person.personData)"
              (mouseout)="hoverCancel(false, person.personData)"
              [style.background-color]="hover == person.personData ? '#0cacf8' : '#f0f8ff'">
              <svg [style.fill]="hover == person.personData ? 'white' : '#7e8594'" version="1.1" id="Capa_1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                  <g>
                    <path d="M255.15,468.625H63.787c-11.737,0-21.262-9.526-21.262-21.262V64.638c0-11.737,9.526-21.262,21.262-21.262H255.15
			c11.758,0,21.262-9.504,21.262-21.262S266.908,0.85,255.15,0.85H63.787C28.619,0.85,0,29.47,0,64.638v382.724
			c0,35.168,28.619,63.787,63.787,63.787H255.15c11.758,0,21.262-9.504,21.262-21.262
			C276.412,478.129,266.908,468.625,255.15,468.625z" />
                  </g>
                </g>
                <g>
                  <g>
                    <path d="M505.664,240.861L376.388,113.286c-8.335-8.25-21.815-8.143-30.065,0.213s-8.165,21.815,0.213,30.065l92.385,91.173
			H191.362c-11.758,0-21.262,9.504-21.262,21.262c0,11.758,9.504,21.263,21.262,21.263h247.559l-92.385,91.173
			c-8.377,8.25-8.441,21.709-0.213,30.065c4.167,4.21,9.653,6.336,15.139,6.336c5.401,0,10.801-2.041,14.926-6.124l129.276-127.575
			c4.04-3.997,6.336-9.441,6.336-15.139C512,250.302,509.725,244.88,505.664,240.861z" />
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="calendar">
    <div class="calendar__month">
      <button class="calendar__month--navigate-left"
        (click)="changeDate(currTime.currYear, currTime.currMonth-1, currTime.currDay)"></button>
      <p class="calendar__month--date">{{currDate}}</p>
      <button class="calendar__month--navigate-right"
        (click)="changeDate(currTime.currYear, currTime.currMonth+1, currTime.currDay)"></button>
    </div>
    <div class="calendar__day-list">
      <p class="calendar__day-list--day" *ngFor="let day of days">{{day.substr(0,2)}}</p>
    </div>
    <div class="calendar__day-number">
      <div class="calendar__day-number--block-day" *ngFor="let item of dates"
        [style.border]="(currDay === item.dayNumber ) ? '1px solid #16b4ff' : '1px solid #d2d2de'"
        [style.background-color]="currTime.currDay === item.dayNumber ? '#d0d7e1' : 'white' "
        (click)="chooseDate(item)">
        {{item.dayNumber}}
        <div class="eventBox">
          <span [style.border]="currDay <= item.dayNumber ? '3px solid #21b3f9' : '3px solid #fab453' "
            class="eventBox__event" *ngFor="let eventDayCount of item.countEvent"></span>
        </div>
      </div>
    </div>
    <div class="calendar__mean">
      <p class="calendar__mean--upcoming"> <span></span> Upcoming</p>
      <p class="calendar__mean--completed"> <span></span> Completed </p>
    </div>
  </section>
</main>
