@import "../../../../../assets/styles/mixins";
@import "../../../../../assets/styles/font";

main {
  height: 86vh;
  overflow-y: auto;
}

.users-list {
  width: 50vw;
  min-height: 10px;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: 2%;

  &__fourEvents {
    &--date:first-child {
      margin-top: 5px;
    }

    &--date {
      height: 24px;
      font-weight: 600;
      margin-top: 10px;
    }

    &--person {
      min-height: 65px;
      .logo {
        width: 50px;
        height: 50px;
        position: relative;


        &__person-rate {
          position: absolute;
          bottom: 5px;
          left: calc(50% - 20.5px);
          top: calc(50% + 12px);
          width: 35px;
          height: 15px;
          border-radius: 10px;
          text-align: center;
          line-height: 15px;
          border: 3px solid white;
        }
      }

      .data {
        height: 44px;
        width: 15%;
        // margin-left: 5px;

        &__person-name {
          font-weight: 600;
        }

        &__person-profession {
          height: 20px;
          line-height: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .interview-date {
        height: 44px;
        width: 16%;

        &__interview-time {

          &--icon {
            width: 15px;
            height: 15px;
            line-height: 15px;
            font-weight: 500;
            font-size: 15px;
            margin-right: 7px;
          }

          &--text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &__date-title {
          font-weight: 550;
        }
      }

      .interviewers {
        height: 44px;
        width: 12%;

        &__interviewers-all {
          width: 50%;
          height: 24px;
          position: relative;

          &--icon {
            width: 23px;
            height: 23px;
            border-radius: 50px;
            border: 1px solid white;
          }

          &--icon:nth-child(2) {
            position: absolute;
            left: 16px;
            border: 1px solid white;
          }
        }

        &__interviewers-title {
          font-weight: 550;
        }
      }

      .orders {
        height: 44px;
        width: 15%;

        &__orders-prof {
          height: 20px;
          line-height: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &__orders-title {
          font-weight: 550;
          height: 10px;
        }
      }

      .buttons {
        width: 190px;
        height: 40px;

        &__start {
          width: 90px;
          height: 38px;
          border: 2px solid #0cacf8;
          background-color: white;
          padding: 0;
          transition: background-color 600ms ease-in-out, border 600ms ease-in-out, box-shadow 600ms ease-in-out, color 600ms ease-in-out;

          &--play {
            width: 10px;
            height: 10px;
            margin-right: 5px;
            font-weight: 900;
          }

          &--play {
            width: 12px;
            height: 12px;
            line-height: 12px;
            font-weight: 500;
            font-size: 12px;
            color: #0CACF8;
          }

        }

        &__start:hover {
          background-color: transparent;
          border: 2px solid #0cacf8;
          box-shadow: 0px 0px 7px 1px #0cacf8;
          color: #0cacf8;
        }

        &__start:focus {
          background-color: transparent;
          border: 2px solid #0cacf8;
          box-shadow: 0px 0px 7px 1px #0cacf8;
          color: #0cacf8;
        }

        &__make-date {
          width: 38px;
          height: 38px;
          border: 1px solid #0cacf8;
          transition: box-shadow 600ms ease-in-out, fill 600ms ease-in-out;

          &--calendar-date {
            width: 38px;
            height: 38px;
            line-height: 32px;
            font-weight: 500;
            font-size: 20px;
            color: #FFFFFF;
          }
        }

        &__make-date:hover {
          box-shadow: 0px 0px 7px 1px #0cacf8;
          color: #0cacf8;
        }

        &__make-date:focus {
          box-shadow: 0px 0px 7px 1px #0cacf8;
          color: #0cacf8;
        }

        &__cancel-button {
          width: 38px;
          height: 38px;
          position: relative;

          &--hidden {
            position: absolute;
            width: 60px;
            top: calc(-75%);
            left: calc(-57%);
            height: 23px;
            border-radius: 4px;

            .hidden-text {
              height: 30px;
              border-radius: 2px;
              color: white;
              z-index: 2;
            }

            .hidden-arrow-down {
              width: 15px;
              height: 15px;
              position: absolute;
              transform: rotate(45deg);
              top: 8px;
              z-index: 1;
            }
          }

          &--visible {
            width: 38px;
            height: 38px;
            background-color: #0cacf8;
            border: none;
            padding: 0;
            cursor: auto;
            transition: background-color 600ms ease-in-out, fill 600ms ease-in-out;

            .calendarout {
              width: 30px;
              height: 30px;
              line-height: 30px;
              font-weight: 500;
              font-size: 16px;
              color: #6E7585;
              transition: color 600ms ease-in-out;
            }
          }

          &--vissible:hover {
            background-color: #f0f8ff;
          }

        }
      }
    }
  }
}

.calendar {
  width: 27vw;
  min-height: 10px;
  border-top: 5px solid #0cacf8;


  &__month {
    width: 94%;
    height: 30px;

    &--navigate-right {
      width: 10px;
      height: 30px;
      padding: 0%;
      border: none;

      .navigate-right {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-weight: 500;
        font-size: 16px;
        color: #6E7585;
      }
    }

    &--navigate-left {
      width: 10px;
      height: 30px;
      padding: 0%;
      border: none;

      .navigate-left {
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-weight: 500;
        font-size: 16px;
        color: #6E7585;
      }
    }
  }

  &__day-list {
    width: 94%;
    height: 30px;

    &--day {
      width: 14%;
      text-align: center;
    }
  }

  &__day-number {
    width: 94%;
    min-height: 10px;
    margin: 10px auto;

    &--block-day {
      width: 13.7%;
      height: 55px;
      border: 1px solid #d2d2de;
      cursor: pointer;
      transition: background-color 600ms ease-in-out;

      .eventBox {

        &__event {
          width: 5px;
          height: 5px;
          border-radius: 50%;
          margin-left: 2px;
          margin-right: 2px;

        }
      }

    }

    &--block-day:hover {
      background-color: blanchedalmond;
    }


  }

  &__mean {
    width: 94%;
    min-height: 43px;


    &--upcoming {
      width: 90px;
      height: 24px;

      span {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 3px solid #21b3f9;
        margin-right: 2px;
      }
    }

    &--completed {
      width: 90px;
      height: 24px;

      span {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 3px solid #fab453;
        margin-right: 2px;
      }
    }
  }

}
::-webkit-scrollbar {
  width: 3px;
  height: 6px;
  background: transparent;
}