@import "../../../../../assets/styles/mixins";
@import "../../../../../assets/styles/font";

main {
  width: 100%;
  min-height: 86.5vh;
  background-color: #eaecf4;
  @include flexbox(row, nowrap, space-around, flex-start);
}


.users-list {
  width: 65%;
  min-height: 10px;
  // padding: 14px 0px 14px 14px;
  @include flexbox(column, nowrap, flex-start, center);
  margin-top: 10px;

  &__fourEvents {
    width: 100%;

    &--date:first-child {
      margin-top: 5px;
    }

    &--date {
      width: 100%;
      height: 24px;
      font-family: "Poppins";
      font-weight: 600;
      font-style: normal;
      font-size: 11px;
      color: #79808f;
      margin-top: 10px;
    }

    &--person {
      width: 100%;
      height: 60px;
      background-color: white;
      @include flexbox(row, nowrap, space-around, center);
      margin-bottom: 10px;

      .logo {
        width: 50px;
        height: 50px;
        position: relative;
        margin-left: 10px;
        // margin-top: 5px;

        //   @include flexbox(row, nowrap, center, center);
        &__person-img {
          width: 40px;
          height: 41px;
        }

        &__person-rate {
          position: absolute;
          bottom: 5px;
          left: calc(50% - 22px);
          top: calc(50% + 8px);
          width: 29px;
          height: 13px;
          border-radius: 10px;
          background-color: #25bf50;
          font-family: "Poppins";
          font-weight: 500;
          font-style: normal;
          font-size: 10px;
          color: white;
          text-align: center;
          line-height: 14px;
          border: 3px solid white;
        }
      }

      .data {
        @include flexbox(column, nowrap, space-around, flex-start);
        height: 40px;
        width: 15%;
        margin-left: 5px;

        &__person-name {
          font-family: "Poppins";
          font-weight: 600;
          font-style: normal;
          font-size: 13px;
          // margin-bottom: 5px;
        }

        &__person-profession {
          font-family: "Poppins";
          font-weight: 500;
          font-style: normal;
          font-size: 11px;
          color: #b3b3b6;
        }
      }

      .interview-date {
        @include flexbox(column, nowrap, space-around, flex-start);
        height: 40px;
        width: 16%;

        &__interview-time {
          width: 100%;
          font-family: "Poppins";
          font-weight: 500;
          font-style: normal;
          font-size: 12px;
          @include flexbox(row, nowrap, space-between, center);

          &--icon {
            width: 16px;
            height: 15px;
          }

          &--text {
            font-family: "Poppins";
            font-weight: 500;
            font-style: normal;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &__date-title {
          font-family: "Poppins";
          font-weight: 550;
          font-style: normal;
          font-size: 10px;
          color: #b3b3b6;
          // margin-bottom: 5px;
        }
      }

      .interviewers {
        @include flexbox(column, nowrap, space-around, center);
        height: 40px;
        width: 16%;

        &__interviewers-all {
          width: 50%;
          height: 24px;
          position: relative;
          @include flexbox(row, nowrap, flex-start, center);

          &--icon {
            width: 20px;
            height: 20px;
            border-radius: 50px;
            border: 1px solid white;
          }

          &--icon:nth-child(2) {
            position: absolute;
            left: 16px;
            border: 1px solid white;
          }
        }

        &__interviewers-title {
          font-family: "Poppins";
          font-weight: 550;
          font-style: normal;
          font-size: 10px;
          color: #b3b3b6;
          // margin-bottom: 5px;
        }
      }

      .orders {
        @include flexbox(column, nowrap, space-around, flex-start);
        height: 40px;
        width: 15%;

        &__orders-prof {
          width: 100%;
          font-family: "Poppins";
          font-weight: 500;
          font-style: normal;
          font-size: 12px;
          height: 20px;
          line-height: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &__orders-title {
          font-family: "Poppins";
          font-weight: 550;
          font-style: normal;
          font-size: 10px;
          color: #b3b3b6;
          height: 10px;
          // margin-bottom: 5px;
        }
      }

      .buttons {
        width: 170px;
        height: 40px;
        @include flexbox(row, nowrap, space-around, center);

        &__start {
          width: 80px;
          height: 32px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          border: 2px solid #0cacf8;
          background-color: white;
          font-family: "Poppins";
          font-weight: 500;
          font-style: normal;
          font-size: 11px;
          padding: 0;
          transition: background-color 600ms ease-in-out, border 600ms ease-in-out, box-shadow 600ms ease-in-out, color 600ms ease-in-out;

          // color: #b3b3b6;
          &--play {
            width: 10px;
            height: 10px;
            margin-right: 5px;
            font-weight: 900;
          }
        }

        &__start:hover {
          background-color: transparent;
          border: 2px solid #0cacf8;
          box-shadow: 0px 0px 7px 1px #0cacf8;
          color: #0cacf8;
        }

        &__start:focus {
          background-color: transparent;
          border: 2px solid #0cacf8;
          box-shadow: 0px 0px 7px 1px #0cacf8;
          color: #0cacf8;
        }

        &__make-date {
          width: 35px;
          height: 32px;
          background-color: #0cacf8;
          border: 1px solid #0cacf8;
          transition: box-shadow 600ms ease-in-out, fill 600ms ease-in-out;

          img {
            width: 20px;
            height: 20px;
          }
        }

        &__make-date:hover {
          box-shadow: 0px 0px 7px 1px #0cacf8;
          color: #0cacf8;
        }

        &__make-date:focus {
          box-shadow: 0px 0px 7px 1px #0cacf8;
          color: #0cacf8;
        }

        &__cancel-button {
          width: 35px;
          height: 32px;
          position: relative;

          &--hidden {
            position: absolute;
            width: 60px;
            top: calc(-91%);
            left: calc(-57%);
            height: 23px;
            border-radius: 10px;
            @include flexbox(column, nowrap, flex-start, center);

            .hidden-text {
              width: 100%;
              background-color: #696d77;
              height: 30px;
              border-radius: 3px;
              @include flexbox(row, nowrap, center, center);
              font-family: "Poppins";
              font-weight: 500;
              font-style: normal;
              font-size: 11px;
              color: #cfd1d4;
              z-index: 2;
            }

            .hidden-arrow-down {
              width: 15px;
              height: 15px;
              position: absolute;
              background-color: #696d77;
              transform: rotate(45deg);
              top: 8px;
              z-index: 1;
            }
          }

          &--visible {
            width: 35px;
            height: 32px;
            background-color: #0cacf8;
            border: none;
            @include flexbox(row, nowrap, center, center);
            padding: 0;
            cursor: auto;
            transition: background-color 600ms ease-in-out, fill 600ms ease-in-out;

            svg {
              fill: white;
              width: 15px;
              height: 15px;
            }

            svg:hover {
              transition: fill 600ms ease-in-out;
              fill: #7e8594
            }
          }

          &--vissible:hover {
            background-color: #f0f8ff;
          }

        }
      }
    }
  }
}

.calendar {
  width: 340px;
  min-height: 10px;
  // padding: 10px;
  background-color: white;
  border-top: 5px solid #0cacf8;
  margin-top: 15px;
  // margin-right: 10px;
  @include flexbox(column, nowrap, center, center);

  &__month {
    width: 90%;
    height: 30px;
    @include flexbox(row, nowrap, space-between, center);
    margin-top: 10px;

    &--navigate-right {
      width: 10px;
      height: 13px;
      padding: 0%;
      border: none;
      background-color: white;
      background-image: url("../../../../../assets/image/arrow-point-to-right.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--navigate-left {
      width: 10px;
      height: 13px;
      padding: 0%;
      border: none;
      background-color: white;
      background-image: url("../../../../../assets/image/arrowhead-thin-outline-to-the-left.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--date {
      font-family: "Poppins";
      font-weight: 500;
      font-style: normal;
      font-size: 13px;
      //   color: #79808f;
    }
  }

  &__day-list {
    width: 90%;
    height: 30px;
    @include flexbox(row, nowrap, center, center);

    &--day {
      font-family: "Poppins";
      font-weight: 500;
      font-style: normal;
      font-size: 11px;
      width: 42.7px;
      text-align: center;
    }
  }

  &__day-number {
    width: 90%;
    min-height: 10vh;
    @include flexbox(row, wrap, flex-start, center);

    &--block-day {
      width: 41.7px;
      height: 45px;
      border: 1px solid #d2d2de;
      @include flexbox(row, wrap, center, center);
      font-size: 12px;
      font-weight: 500;
      font-family: sans-serif;
      color: #7e828b;
      cursor: pointer;
      transition: background-color 600ms ease-in-out;

      .eventBox {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__event {
          width: 3px;
          height: 3px;
          border-radius: 50%;
          border: 3px solid #fab453;
          margin-right: 2px;

        }
      }

    }

    &--block-day:hover {
      background-color: blanchedalmond;
    }


  }

  &__mean {
    width: 95%;
    min-height: 43px;
    @include flexbox(row, wrap, center, center);
    margin-top: 5px;
    margin-bottom: 10px;

    &--upcoming {
      width: 75px;
      height: 24px;
      font-family: "Poppins";
      font-weight: 500;
      font-style: normal;
      font-size: 11px;
      @include flexbox(row, wrap, space-around, center);

      span {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        border: 3px solid #21b3f9;
        margin-right: 2px;
      }
    }

    &--completed {
      margin-left: 5px;
      width: 75px;
      height: 24px;
      font-family: "Poppins";
      font-weight: 500;
      font-style: normal;
      font-size: 11px;
      @include flexbox(row, wrap, space-around, center);

      span {
        width: 3px;
        height: 3px;
        border-radius: 50%;
        border: 3px solid #fab453;
        margin-right: 2px;
      }
    }
  }

}
