@import "../assets/styles/mixins";



.header {
  position: fixed;
  width: 100%;
}

.container {
  padding-top: 7vh;
  @include flexbox(row, nowrap, left, none);

  &__menu {
    position: fixed;
    width: 250px;
  }

  &__items {
    margin-left: 250px;
    width: 85%;
  }
}
