<header>
  <section class="left-section">
    <img class="left-section__logo" src="../../../../assets/image/Skillcheckers-logo.png" alt="">
    <div class="left-section__search">
      <img class="icon-search" src="../../../../assets/image/icons8-search.svg" alt="">
      <input type="search" class="input-search" placeholder="Search">
    </div>
  </section>
  <section class="right-section">
    <button class="right-section__order">
      <img src="../../../../assets/image/iconmonstr-plus-6.svg" class="plus" alt="">
      <p class="new-order">New order</p>
    </button>
    <button class="right-section__notification">
    </button>
    <div class="right-section__user">
      <button class="right-section__user--button">
      </button>
      <img (click)="dropMenu()" class="drop-arrow" *ngIf="!dropWay" src="../../../../assets/image/drop-down-arrow.svg"
        alt="">
      <img (click)="dropMenu()" class="drop-arrow" *ngIf="dropWay" src="../../../../assets/image/drop-up-arrow.svg"
        alt="">
    </div>
  </section>
</header>
