<header>
  <section class="left-section">
    <img class="left-section__logo" src="../../../../assets/image/Skillcheckers-logo.png" alt="">
    <div class="left-section__search">
      <span aria-hidden="true" data-icon="&#xe902;"  class="icon-search"></span>
      <input type="search" class="input-search" placeholder="Search">
    </div>
  </section>
  <section class="right-section">
    <button class="right-section__order" (click)="navigateToNewOrder()">
      <span aria-hidden="true" data-icon="&#xe901;"  class="plus"></span>
      <p class="new-order">New order</p>
    </button>
    <button class="right-section__notification">
      <span aria-hidden="true" data-icon1="&#xe903;" data-icon2="&#xe904;"  class="notifi-icon"></span>
    </button>
    <div class="right-section__user">
      <button class="right-section__user--button">
      </button>
        <span aria-hidden="true" (click)="dropMenu()" data-icon="&#xe900;" *ngIf="!dropWay" class="items-drop-down"></span>
        <span aria-hidden="true" (click)="dropMenu()" data-icon="&#xe900;" *ngIf="dropWay" class="items-drop-up"></span>
      <div class="right-section__user--menu" [style.height]="dropWay ? '100px' : '0px'" [style.display]="dropWay ? 'flex' : 'none'"
      [style.transition]="'height 600ms ease-in-out'">
        <p class=" menu-profile"> <img src="../../../../assets/image/mainuser.png" alt="">  Profile</p>
        <hr>
        <p class="menu-sighOut">  <span aria-hidden="true" data-icon="&#xe900;" class="menu-sighOut__icon"></span> Sigh Out</p>
      </div>
    </div>
  </section>
</header>
