@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/font";

button {
  border: none;
  background-color: transparent;
}

header {
  width: 100%;
  @include flexbox(row, nowrap, space-between, center);
  position: fixed;
  height: 50px;
  display: flex;
  // justify-content: space-around;
  // align-items: center;
}

.left-section {
  width: 600px;
  height: 50px;
  @include flexbox(row, nowrap, space-around, center);

  &__logo {
    width: 205px;
    height: 32px;
    cursor: pointer;
  }

  &__search {
    width: 320px;
    padding: 2.5px;
    @include flexbox(row, nowrap, space-around, center);
    background-color: #EEF0F8;
    height: 28px;
    border-radius: 2px;

    .icon-search {
      margin-left: 5px;
      height: 15px;
      width: 15px;
      font-family: 'search';
      color: #0CACF8;
    }

    .icon-search::before {
      font-family: "search";
      content: attr(data-icon);
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: 15px;
      -webkit-font-smoothing: antialiased;
    }

    .input-search {
      width: 85%;
      padding-left: 5px;
      height: 100%;
      border: none;
      background-color: transparent;
      font-family: 'Poppins';
      font-size: 14px;
    }

  }
}

.right-section {
  width: 280px;
  height: 50px;
  @include flexbox(row, nowrap, space-around, center);

  &__order {
    width: 138px;
    height: 34.5px;
    padding: 2.5px;
    @include flexbox(row, nowrap, center, center);
    background-color: #25BF50;
    border-radius: 2px;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0 0 0 0 rgba(0, 128, 0, 1);
    transition: background-color 600ms linear;


    .plus {
      width: 19.25px;
      height: 19.25px;
      line-height: 21.25px;
      font-family: 'plus-circuse';
      color: white;
    }

    .plus::before {
      content: attr(data-icon);
    }

    .new-order {
      margin-left: 10px;
      margin-bottom: 1px;
      font-family: "Poppins";
      font-size: 12px;
      font-weight: 500;
      color: white;
    }
  }

  &__order:focus {
    animation: pulse 1.5s infinite linear;
    box-shadow: 0 0 0 8px rgb(255, 255, 255);
  }

  &__order:hover {
    background-color: green;

  }

  &__notification {
    border: none;
    width: 25px;
    height: 25px;
    padding: 0;
    cursor: pointer;

    .notifi-icon {
      width: 20.25px;
      height: 20.25px;
      line-height: 21.25px;
      font-family: 'notification';
      color: black;
      position: relative;

    }

    .notifi-icon::before {
      font-family: "notification";
      content: attr(data-icon1);
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: 20px;
      -webkit-font-smoothing: antialiased;
    }

    .notifi-icon::after {
      position: absolute;
      top: -3px;
      left: 1px;
      font-family: "notification";
      content: attr(data-icon2);
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: 18px;
      color: #F22222;
      -webkit-font-smoothing: antialiased;
    }

  }


  &__user {
    width: 55px;
    height: 50px;
    @include flexbox(row, nowrap, space-around, center);
    position: relative;

    &--button {
      border-radius: 50%;
      width: 32px;
      height: 32px;
      cursor: pointer;
      border-radius: 50%;
      background-image: url('../../../../assets/image/mainuser.png');
      background-repeat: no-repeat;
      background-size: cover;
      padding: 0%;
    }

    &--button:focus {
      box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }

    .items-drop-down {
      width: 9px;
      height: 6px;
      line-height: 3px;
      font-family: 'drop-down-arrow';
      color: #6E7585;
    }

    .items-drop-down::before {
      font-family: "drop-down-arrow";
      content: attr(data-icon);
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: 9px;
      -webkit-font-smoothing: antialiased;
    }


    .items-drop-up {
      width: 9px;
      height: 6px;
      line-height: 2px;
      font-family: 'drop-up-arrow';
      color: #6E7585;
    }

    .items-drop-up::before {
      font-family: "drop-up-arrow";
      content: attr(data-icon);
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      font-size: 9px;
      -webkit-font-smoothing: antialiased;
    }

    &--menu {
      position: absolute;
      top: 40px;
      right: 0;
      height: 100px;
      width: 100px;
      box-shadow: 3px 3.5px 7px 0.5px rgba(0, 0, 0, 0.25);
      background-color: white;
      transition: height 600ms ease-in-out, display 600ms ease-in-out;
      @include flexbox(column, nowrap, center, center);

      hr {
        width: 90%;
        // border-bottom: 0.5px solid gray;
        background-color: gray;
        border-radius: 50px;
      }

      .menu-profile {
        height: 30px;
        width: 100%;
        @include flexbox(row, nowrap, center, center);

        svg {
          height: 15px;
          width: 15px;
          margin-right: 5px;
        }
      }

      .menu-sighOut {
        height: 30px;
        width: 100%;
        @include flexbox(row, nowrap, center, center);

        svg {
          height: 15px;
          width: 15px;
          margin-right: 5px;
        }
      }
    }
  }

}


@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 128, 0, 1);
  }

  100% {
    box-shadow: 0 0 0 8px rgb(255, 255, 255, 0);

  }
}
