<section class="view-order flex nowrap jcfs aifs p-20">
  <button class="button-back bc-gray flex aic jcc nowrap font-14" (click)="returnBack()"><span
      class="icon-arrow-back m-r-10 button-back__arrow"></span> Back </button>
  <div class="order-text">
    <div class="order-text__description flex nowrap col aic jcc p-t-30 p-b-30 m-b-20 bc-white w-100">
      <p class="order-number txt-c-initial w-89 m-l-5 font-14">Order number: {{ currOrder?.id }}</p>
      <p class="order-title font-25 m-t-10 w-89  m-b-20">{{ currOrder?.name }}</p>
      <div class="order-skills flex nowrap w-89 ">
        <div class="order-skill__main flex col aifs jcsb m-r-25">
          <p class="font-12 txt-c-initial">{{'Main skill' | uppercase}}</p>
          <p class="bc-gray font-13 order-skill__main--skill p-l-10 p-r-10 p-t-5 p-b-5">{{ currOrder?.mainSkill }}</p>
        </div>
        <div class="order-skill__addition flex col aifs jcsb">
          <p class="font-12 txt-c-initial">{{'Additional skill' | uppercase }}</p>
          <div class="flex nowrap font-13">
            <p class="bc-gray font-13 order-skill__addition--skill p-l-10 p-r-10 p-t-5 p-b-5 m-r-5"
              *ngFor="let item of currOrder?.additionalSkill.split(', ')">{{item}}</p>
          </div>
        </div>
      </div>
      <hr class="bottom-line p-0 bc-light-gray bdc-light-gray w-89 m-t-20">
      <p class="order-title w-89 font-17 m-t-20 ">Job description</p>
      <div class="initial-font m-t-10 w-89 line-height-20" [innerHTML]="currOrder?.jobDesc">
      </div>
      <!-- <p class="font-14 m-t-10 w-100 line-height-20">Currently, we are looking for an experienced engineer to join one
        of our
        teams that
        tightly collaborate
        with Silicon Valley startup in Unified Communications Federation space.</p>
      <p class="order-title font-17 w-100 m-t-34">Requirements to candidate</p>
      <ul class="m-t-11 w-100 line-height-34">
        <li class="font-14 flex aic"> Great benefits package including medical, education, and fitness</li>
        <li class="font-14 flex aic"> Reimbursement for moving expenses for out-of-town candidates</li>
        <li class="font-14 flex aic"> Flexible working hours (including opportunities to periodically work from home)
        </li>
        <li class="font-14 flex aic"> Performance bonuses and annual salary reviews</li>
        <li class="font-14 flex aic"> Choice of desktop or a laptop as the main workstation</li>
        <li class="font-14 flex aic"> Bicycle and car-friendly office</li>
      </ul>
      <p class="order-title w-100 font-17 m-t-34">Company description</p>
      <p class="font-14 w-100 m-t-10 line-height-24">We are committed to innovation to provide the global community with
        the
        highest quality
        betting products and
        gaming experience. Hi-tech solutions and innovative approach are what drive us forward in the gaming market and
        remain our basis for success and development. We join our forces to come up with revolutionary solutions for the
        tech market. Parimatch Tech is an in-depth synergy of technology, business, and sport.</p> -->

    </div>
    <div class="order-text__question flex nowrap col aic p-t-30 p-b-30 m-b-20 bc-white w-100">
      <p class="font-17 w-89">Screening questions to candidates </p>
      <p class="order-text__question--list w-89 bc-light-blue line-height-26 m-t-17 p-l-30 p-r-30 p-t-14 p-b-14 font-17"
        [style.display]="currOrder?.question.length > 0 ? 'block' : 'none'" *ngFor="let item of currOrder?.question">
        {{item?.count}} {{ item?.text }} </p>
      <p class="order-text__question--list w-89 txt-a-c bc-light-blue line-height-26 m-t-10 p-l-30 p-r-30 p-t-14 p-b-14 font-17"
        *ngIf="!currOrder?.question">
        No questions</p>
    </div>
    <div class="order-text__candidates bc-white w-100">
      <div class="order-type w-100 flex wrap aic jcc bc-white">
        <div class="order-type__item txt-c-blue flex nowrap aic" routerLinkActive="txt-c-blue"
          [routerLink]="[ 'candidates-inflow' ]">
          <p class="order-type__item--title font-14">{{'candidates inflow' | uppercase}}</p>
          <p class="not-read flex nowrap jcc aic bc-blue">35</p>
          <span routerLinkActive="active-link bc-blue"></span>
        </div>
        <div class="order-type__item flex nowrap aic" routerLinkActive="txt-c-blue" [routerLink]="[ 'saved' ]">
          <p class="order-type__item--title font-14">{{'saved' | uppercase}}</p>
          <p class="not-read flex nowrap jcc aic bc-blue">18</p>
          <span routerLinkActive="active-link bc-blue"></span>
        </div>
        <div class="order-type__item flex nowrap aic" routerLinkActive="txt-c-blue" [routerLink]="[ 'interviewed' ]">
          <p class="order-type__item--title font-14">{{'interviewed' | uppercase}}</p>
          <p class="not-read flex nowrap jcc aic bc-blue">6</p>
          <span routerLinkActive="active-link bc-blue"></span>
        </div>
        <div class="order-type__item flex nowrap aic" routerLinkActive="txt-c-blue" [routerLink]="[ 'offered' ]">
          <p class="order-type__item--title font-14">{{'offered' | uppercase}}</p>
          <p class="not-read flex nowrap jcc aic bc-blue">2</p>
          <span routerLinkActive="active-link bc-blue"></span>
        </div>
        <div class="order-type__item flex nowrap aic" routerLinkActive="txt-c-blue" [routerLink]="[ 'hired' ]">
          <p class="order-type__item--title font-14">{{'hired' | uppercase}}</p>
          <p class="not-read flex nowrap jcc aic bc-blue">1</p>
          <span routerLinkActive="active-link bc-blue"></span>
        </div>
      </div>

      <div class="p-t-30 p-b-20 w-100" style="margin: 0px auto;">
        <router-outlet></router-outlet>

        <!-- <div id="saved" class="tabcontent">
          <p>Saved</p>
        </div>

        <div id="interviewed" class="tabcontent w-100">
          <p>interviewed</p>
        </div>
        <div id="offered" class="tabcontent w-100">
          <p>offered</p>
        </div>
        <div id="hired" class="tabcontent w-100">
          <p>hired</p>
        </div> -->
      </div>
    </div>
  </div>
  <div class="order-data p-30 bc-white m-l-20">
    <div class="flex w-100 wrap aifs jcsb">
      <div class="order-details m-b-20 flex aifs jcsb nowrap col">
        <p class="font-12 txt-c-initial">UNIT NAME</p>
        <p class="font-16 m-t-10">{{ currOrder?.unitName }}</p>
      </div>
      <div class="order-details m-b-20 flex aifs jcsb nowrap col">
        <p class="font-12 txt-c-initial">UNIT LOCATION</p>
        <p class="font-16 m-t-10">{{ currOrder?.unitLocation }}</p>
      </div>
      <div class="order-details m-b-20 flex aifs jcsb nowrap col">
        <p class="font-12 txt-c-initial">PROGRAMMERS NEEDED</p>
        <p class="font-16 m-t-10">{{ currOrder?.progNeed }}</p>
      </div>
      <div class="order-details flex m-b-20 aifs jcsb nowrap col">
        <p class="font-12 txt-c-initial">DUE DATE</p>
        <p class="font-16 m-t-10">{{ currOrder?.dueDate }}</p>
      </div>
      <div class="order-details m-b-20 flex aifs jcsb nowrap col">
        <p class="font-12 txt-c-initial">YEARS OF EXPERIENCE</p>
        <p class="font-16 m-t-10">{{ currOrder?.yearExperience }}</p>
      </div>
      <div class="order-details m-b-20 flex aifs jcsb nowrap col">
        <p class="font-12 txt-c-initial">SKILLCHECKERS SCORE</p>
        <p class="font-16 m-t-10">{{ currOrder?.skillScore }}</p>
      </div>
      <div class="order-details m-b-20 flex aifs jcsb nowrap col">
        <p class="font-12 txt-c-initial">SALARY RANGE</p>
        <p class="font-16 m-t-10">{{ currOrder?.salaryRange }}</p>
      </div>
      <div class="order-details m-b-20 flex aifs jcsb nowrap col">
        <p class="font-12 txt-c-initial">JOB LOCATION</p>
        <p class="font-16 m-t-10">{{ currOrder?.kindJob }}</p>
      </div>
      <div class="order-details m-b-20 flex aifs jcsb nowrap col">
        <p class="font-12 txt-c-initial">WORK MODE</p>
        <p class="font-16 m-t-10">{{ currOrder?.workMode }}</p>
      </div>
      <div class="order-details m-b-20 flex aifs jcsb nowrap col">
        <p class="font-12 txt-c-initial">TERM OF CONTRACT</p>
        <p class="font-16 m-t-10">{{ currOrder?.termOfContract }}</p>
      </div>
    </div>
    <hr class="m-t-30">
    <div class="w-100 p-t-20 flex aic jcc nowrap">
      <button class="edit-order btn bc-white txt-c-black font-15 bdc-blue m-r-20" (click)="editCurrOrder()">Edit
        order</button>
      <button class="close-order btn bc-red txt-c-black font-15" (click)="closeOrder()">Close order</button>
    </div>
  </div>
</section>
