<main>
  <section class="users">
    <div class="users__members" *ngFor="let item of messaging"
      [style.background-color]="item.missing == 0 ? 'white' : '#fdf5ec' " routerLinkActive="select-item"
      [routerLink]="[ item.url ]">
      <div class="users__members--padding" routerLinkActive="select-contain" [routerLink]="[ item.url ]">
        <img class="logo" [src]="item.img" alt="">
        <div class="person-data">
          <h2 class="person-data__title">
            {{item.name}}
          </h2>
          <p class="person-data__text">
            {{item.text}}
          </p>
        </div>
        <div class="other-data">
          <p class="other-data__time">
            {{item.time}}
          </p>
          <p class="other-data__missing" *ngIf="item.missing > 0">
            {{item.missing}}
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="users-messages">
    <router-outlet></router-outlet>
  </section>
</main>
