@import "../../../assets/styles/mixins";

.select-item {
  background-color: #eef0f8 !important;
}

.select-contain {
  border-left: 5px solid #0cacf8;
}

.missing {
  background-color: #fdf5ec;
}

main {
  width: 100%;
  min-height: 10vh;
  @include flexbox(row, nowrap, flex-start, flex-start);
  background-color: #eef0f8;

}

.users {
  width: 250px;
  min-height: 90vh;
  @include flexbox(column, nowrap, space-between, center);

  &__members {
    width: 98%;
    margin-top: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    cursor: pointer;

    // background-color: white;

    &--padding {
      width: 100%;
      height: 7vh;
      @include flexbox(row, nowrap, space-around, center);

      .logo {
        width: 42px;
        height: 40px;
        margin-left: 5px;
      }

      .person-data {
        width: 140px;
        height: 6vh;
        @include flexbox(column, nowrap, center, flex-start);

        &__title {
          font-family: sans-serif;
          font-size: 14px;
          font-weight: 600;
          margin-bottom: 5px;
        }

        &__text {
          font-family: sans-serif;
          font-size: 11px;
          font-weight: 500;
          color: #b3b3b6;
        }
      }

      .other-data {
        width: 45px;
        height: 6vh;
        @include flexbox(column, nowrap, center, center);

        &__missing {
          font-family: sans-serif;
          font-size: 10px;
          font-weight: 550;
          border: 1.5px solid #5bc5f6;
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background-color: white;
          color: #5bc5f6;
          @include flexbox(row, nowrap, center, none);
          line-height: 16px;


        }

        &__time {
          font-family: sans-serif;
          font-size: 10px;
          font-weight: 500;
          color: #b3b3b6;
          margin-bottom: 5px;

        }
      }
    }
  }
}

.users-messages {
  padding-top: 20px;
  padding-left: 10px;
  height: 90vh;
  width: 100%;
  background-color: #eef0f8;

}
