<main>
  <section class="users">
    <div class="users__all">
      <div class="users__all--members" *ngFor="let item of messaging"
        [style.background-color]="item.missing == 0 ? 'white' : '#fdf5ec' " routerLinkActive="select-item"
        [routerLink]="[ item.url ]">
        <span routerLinkActive="choose"></span>
        <div class="person" [routerLink]="[ item.url ]">
        

          <div class="person__logo">
            <img class="person__logo--icon" [src]="item.img" alt="">
            <span class="person__logo--active"  [style.display]="item.missing == 0 ? 'none' : 'block' "></span>
          </div>
          <div class="person__person-data">
            <h2 class="person__person-data--title">
              {{item.name}}
            </h2>
            <p class="person__person-data--text">
              {{item.text}}
            </p>
          </div>
          <div class="person__other-data">
            <p class="person__other-data--time">
              {{item.time}}
            </p>
            <p class="person__other-data--missing" *ngIf="item.missing > 0">
              {{item.missing}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="users-messages">
    <router-outlet></router-outlet>
  </section>
</main>
