@import "../../../assets/styles/mixins";
@import "../../../assets/styles/font";

.select-item {
  background-color: #eef0f8 !important;
}

.choose {
  position: absolute;
  height: 70%;
  width: 5px;
  top: calc(15%);
  background-color: #0CACF8;
  left: -1px;

}

.missing {
  background-color: #fdf5ec;
}

main {
  height: 100%;
  overflow: hidden;
}

.users {
  width: 235px;
  height: 92%;
  overflow-y: scroll;

  &__all {
    min-height: 5rem;

    &--members {
      margin-top: 1px;
      cursor: pointer;
      min-height: 80px;
      position: relative;

      .person {
        height: 50px;
        position: relative;

        &__logo {
          width: 40px;
          height: 40px;
          // margin-right: 7px;
          position: relative;

          // &--icon {
          //   width: 40px;
          //   height: 40px;
          //   // border-radius: 50%;
          // }

          &--active {
            position: absolute;
            display: block;
            bottom: 0px;
            right: 0px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
          }
        }

        &__person-data {
          width: 60%;
          height: 43px;

          &--title {
            font-weight: 600;
            // margin-bottom: 5px;
          }
        }

        &__other-data {
          width: 30px;
          height: 43px;

          &--missing {
            border-radius: 50%;
            width: 13px;
            height: 13px;
            line-height: 13px;


          }

          // &--time {
            // color: #6E7585;
            // margin-bottom: 5px;

          // }
        }
      }
    }

  }
}

.users-messages {
  // padding-top: 20px;
  // padding-left: 10px;
  height: 100%;
  overflow: hidden;
  width: 82%;
}
