@import "../../../../assets/styles/mixins";

.premium {
  min-height: 130px;
  width: 100%;
  margin-bottom: 50px;
  background-color: #363d4c;
  @include flexbox(column, nowrap, flex-start, center);

  &__title {
    width: 80%;
    height: 30px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    margin-top: 10px;
  }

  &__text {
    color: #bcbec3;
    width: 80%;
    height: 30px;
    font-family: "Poppins";
    font-size: 12px;
  }

  &__button {
    width: 80%;
    height: 40px;
    background-color: transparent;
    color: white;
    border: 2px solid #25BF50;
    transition: background-color .250s linear, color .250s linear, border .250s linear;
  }

  &__button:hover {
    background: #25BF50;
    color: #292f3d;
    border: 2px solid white;
  }
}
