@import "../../../../assets/styles/mixins";

.premium {
  min-height: 150px;
  margin-bottom: 50px;
  background-color: #363d4c;

  &__title {
    width: 80%;
    height: 30px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-top: 10px;
  }

  &__text {
    color: #bcbec3;
    width: 80%;
    height: 30px;
    font-family: "Poppins";
    font-size: 13px;
  }

  &__button {
    width: 80%;
    height: 48px;
    background-color: transparent;
    border: 2px solid #25BF50;
    box-sizing: border-box;
    font-weight: 600;
    line-height: 19px;
    transition: background-color .250s linear, color .250s linear, border .250s linear;
  }

  &__button:hover {
    background: #25BF50;
    color: #292f3d;
    border: 2px solid white;
  }
}
