@import "../../../../assets/styles/mixins";

.premium {
  min-height: 20vh;
  width: 100%;
  background-color: #363d4c;
  display: flex;
  flex-flow: column nowrap;
  @include flexbox(column, nowrap, center, center);

  &__title {
    width: 80%;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 26px;
  }

  &__text {
    color: #bcbec3;
    width: 80%;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  &__button {
    width: 80%;
    height: 40px;
    background-color: transparent;
    color: white;
    border: 2px solid #25bf50;
    transition: background-color .250s linear, color .250s linear, border .250s linear;
  }

  &__button:hover {
    background: #25bf50;
    color: #292f3d;
    border: 2px solid white;
  }
}
