@import '../../../assets/styles/mixins';
@import '../../../assets/styles/font';

.new-order {
  background-color: #EEF0F8;
  height: 92.7vh;
  width: 100%;
  overflow-y: auto;

  &__items {
    width: 100%;
    overflow-y: auto;
    @include flexbox(column, nowrap, space-around, center);
  }


}

.container-order {
  width: 90%;
  margin: 30px auto;
  min-height: 10vh;
  @include flexbox(row, nowrap, center, flex-start);
}

.create-order {
  width: 48.5%;
  background-color: white;
  min-height: 54vh;
  margin: 10px auto;

  @include flexbox(column, wrap, flex-start, center);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  border-radius: 2px;


  .create-title {
    width: 90%;
    height: 50px;
    font-family: "Poppins";
    font-size: 17px;
    font-weight: 700;
    @include flexbox(row, wrap, left, center);


  }

  .position {
    width: 100%;
    height: 50px;
    @include flexbox(row, nowrap, space-around, flex-start);
    border-bottom: 1px solid #CBCBD9;
    margin-top: 10px;

    &__icon {
      width: 50px;
      height: 40px;
      line-height: 40px;
      font-size: 40px;
      font-family: 'position';
      color: #6E7585;
      position: relative;
      margin-left: 4%;
    }

    .path1:before {
      content: "\e900";
      color: #3ebdfa;
    }

    .path2:before {
      content: "\e901";
      color: #9094a0;
      margin-left: -1em;
    }

    .path3:before {
      content: "\e902";
      color: #9094a0;
      margin-left: -1em;
    }

    .path4:before {
      content: "\e903";
      color: #9094a0;
      margin-left: -1em;
    }

    .path5:before {
      content: "\e904";
      color: #9094a0;
      margin-left: -1em;
    }

    .path6:before {
      content: "\e905";
      color: #9094a0;
      margin-left: -1em;
    }

    .path7:before {
      content: "\e906";
      color: #9094a0;
      margin-left: -1em;
    }

    &__input {
      width: 75%;
      height: 30px;
      padding-left: 15px;
      margin-right: 3%;
      border: 1px solid #c0c1c5;
      font-family: "Poppins";
      font-size: 15px;
      font-weight: 500;
    }

    &__input::placeholder {
      color: #6E7585;
    }

    &__input:focus {
      border: 1px solid #44b4e7;
    }
  }

  .order-info {
    width: 90%;
    padding: 10px;
    @include flexbox(column, nowrap, space-around, center);

    &__programmer {
      @include flexbox(row, nowrap, space-between, center);
      width: 100%;
      min-height: 45px;

      &--text {
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 600;
        width: 39%;
      }

      &--counter {
        width: 60%;
        @include flexbox(row, nowrap, left, center);

        .add {
          width: 35px;
          height: 25px;
          background-color: white;
          border: 1px solid #CBCBD9;
          transition: background-color 600ms ease-in-out, border 600ms ease-in-out, box-shadow 600ms ease-in-out, color 600ms ease-in-out;
        }

        button:focus {
          border: 1px solid #44b4e7;
        }

        button:hover {
          background-color: #0cacf8;
          border: 1px solid #0cacf8;
          box-shadow: 0px 0px 7px 1px #0cacf8;
          color: white;
        }

        .minus {
          width: 35px;
          height: 25px;
          background-color: white;
          border: 1px solid #CBCBD9;
          transition: background-color 600ms ease-in-out, border 600ms ease-in-out, box-shadow 600ms ease-in-out, color 600ms ease-in-out;
        }

        .programmer-input {
          width: 30px;
          height: 21px;
          border: 1px solid #CBCBD9;
          text-align: center;
          color: black;
          font-family: "Poppins";
          font-size: 11px;
          font-weight: 500;
        }

      }
    }

    &__mainSkill {
      @include flexbox(row, nowrap, space-between, center);
      width: 100%;
      min-height: 45px;
      z-index: 1;

      &--text {
        width: 39%;
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 600;
      }

      &--select {
        width: 60%;
        height: 45px;
        @include flexbox(row, nowrap, left, center);
        cursor: pointer;
        position: relative;

        .visible {
          top: 10%;
          left: 0;
          width: 100%;
          height: 32px;
          position: absolute;
          background-color: transparent;
          @include flexbox(row, nowrap, space-between, center);
          border: 1px solid #CBCBD9;
          z-index: 1;

          &__title {
            font-family: "Poppins";
            font-size: 11px;
            font-weight: 500;
            padding-left: 4px;
          }

          &__drop-icon {
            width: 9px;
            height: 6px;
            line-height: 5px;
            font-family: 'drop-down-arrow';
            font-size: 9px;
            color: #6E7585;
          }

          &__drop-icon::before {
            content: "\e900";
          }
        }

        .hidden {
          overflow-y: auto;
          z-index: 3;
          display: none;
          position: absolute;
          height: 158px;
          top: 40px;
          left: 0;
          width: 100%;
          padding: 10px;
          background-color: white;
          box-shadow: 3px 6px 8px 4px rgba(0, 0, 0, 0.25);

          p {
            width: 100%;
            height: 35px;
            border-bottom: 1px solid rgb(175, 175, 175);
            color: #292F3D;
            // margin-bottom: 5px;
            font-family: "Poppins";
            font-size: 13px;
            font-weight: 500;
            line-height: 35px
          }
        }

      }
    }

    &__experience {
      @include flexbox(row, nowrap, space-between, center);
      width: 100%;
      height: 45px;

      &--text {
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 600;
        width: 39%;

      }

      &--counter {
        width: 60%;
        @include flexbox(row, nowrap, left, center);

        .add {
          width: 35px;
          height: 25px;
          background-color: white;
          border: 1px solid #CBCBD9;
          transition: background-color 600ms ease-in-out, border 600ms ease-in-out, box-shadow 600ms ease-in-out, color 600ms ease-in-out;
        }

        button:focus {
          border: 1px solid #44b4e7;
        }

        button:hover {
          background-color: #0cacf8;
          border: 1px solid #0cacf8;
          box-shadow: 0px 0px 7px 1px #0cacf8;
          color: white;
        }

        .minus {
          width: 35px;
          height: 25px;
          background-color: white;
          border: 1px solid #bdc1c8;
          transition: background-color 600ms ease-in-out, border 600ms ease-in-out, box-shadow 600ms ease-in-out, color 600ms ease-in-out;
        }

        .experience-input {
          width: 30px;
          height: 21px;
          border: 1px solid #bdc1c8;
          text-align: center;
          color: black;
          font-family: "Poppins";
          font-size: 11px;
          font-weight: 500;
        }

      }
    }

    &__addSkill {
      @include flexbox(row, nowrap, space-between, center);
      width: 100%;
      min-height: 50px;

      &--text {
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 600;
        width: 40.3%;

      }

      &--select {
        width: 59.7%;
        min-height: 32px;
        align-items: stretch;
        @include flexbox(row, wrap, left, stretch);
        cursor: pointer;
        position: relative;

        background-color: transparent;
        border: 1px solid #CBCBD9;


        .choose-addSkill {
          margin-right: 5px;
          min-width: 18%;
          height: 30px;
          border-radius: 20px;
          background-color: #EEF0F8;
          @include flexbox(row, nowrap, space-around, center);

          &__title {
            margin-left: 5px;
            margin-right: 5px;
            font-family: "Poppins";
            font-size: 11px;
            font-weight: 500;
            padding-left: 4px;
            color: #292F3D;
          }

          &__delete-choose {
            margin-left: 5px;
            margin-right: 5px;
            width: 20px;
            height: 20px;
            background-color: #D2D4DE;
            border-radius: 50%;
            border: none;
            @include flexbox(row, nowrap, center, center);
            transition: transform 400ms linear;

            &--cross {
              width: 9px;
              height: 8px;
              line-height: 7px;
              font-family: 'close';
              font-size: 9px;
              color: #292F3D;
              transition: transform 400ms linear;
            }

            &--cross::before {
              content: "\e900";
            }

            &--cross::before:hover {
              transform: rotate(180deg);
            }
          }


        }

        .drop-icon {
          width: 9px;
          height: 6px;
          line-height: 5px;
          font-family: 'drop-down-arrow';
          font-size: 9px;
          color: #6E7585;
          position: absolute;
          top: 12px;
          right: 8px;
        }

        .drop-icon::before {
          content: "\e900";
        }

        // }

        .hidden {
          overflow-y: auto;
          z-index: 3;
          display: none;
          position: absolute;
          height: 158px;
          top: 35px;
          left: 0;
          width: 100%;
          padding: 10px;
          background-color: white;
          box-shadow: 3px 6px 8px 4px rgba(0, 0, 0, 0.25);

          p {
            width: 100%;
            height: 35px;
            border-bottom: 1px solid rgb(175, 175, 175);
            color: #292F3D;
            font-family: "Poppins";
            font-size: 13px;
            font-weight: 500;
            line-height: 35px
          }
        }

      }
    }

    &__unitName {
      @include flexbox(row, nowrap, space-between, center);
      width: 100%;
      height: 45px;
      // z-index: 0;

      &--text {
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 600;
        width: 39%;

      }

      &--select {
        width: 60%;
        height: 45px;
        @include flexbox(row, nowrap, left, center);
        cursor: pointer;
        position: relative;

        .visible {
          top: 10%;
          left: 0;
          width: 100%;
          height: 32px;
          position: absolute;
          background-color: transparent;
          @include flexbox(row, nowrap, space-between, center);
          border: 1px solid #CBCBD9;

          &__title {
            font-family: "Poppins";
            font-size: 11px;
            font-weight: 500;
            padding-left: 4px;
          }

          &__drop-icon {
            width: 9px;
            height: 6px;
            line-height: 5px;
            font-family: 'drop-down-arrow';
            font-size: 9px;
            color: #6E7585;
          }

          &__drop-icon::before {
            content: "\e900";
          }
        }

        .hidden {
          overflow-y: auto;
          z-index: 2;
          display: none;
          position: absolute;
          height: 158px;
          top: 40px;
          left: 0;
          width: 100%;
          padding: 10px;
          background-color: white;
          box-shadow: 3px 6px 8px 4px rgba(0, 0, 0, 0.25);

          p {
            width: 100%;
            height: 35px;
            border-bottom: 1px solid rgb(175, 175, 175);
            color: #292F3D;
            font-family: "Poppins";
            font-size: 13px;
            font-weight: 500;
            line-height: 35px;
          }
        }

      }
    }

    &__unitLocation {
      @include flexbox(row, nowrap, space-between, center);
      width: 100%;
      height: 45px;

      &--text {
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 600;
        width: 40%;

      }

      &--input {
        width: 57%;
        height: 32px;
        @include flexbox(row, nowrap, left, center);
        cursor: pointer;
        background-color: transparent;
        border: 1px solid #CBCBD9;
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 500;
        padding-left: 10px;
      }

      &--input:focus {
        border: 1px solid #44b4e7;
      }
    }

    &__skillScore {
      @include flexbox(row, nowrap, space-between, center);
      width: 100%;
      min-height: 65px;

      &--text {
        margin-top: 10px;
        align-self: start;
        width: 39%;
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 600;
        @include flexbox(row, nowrap, none, center);



        .questInfo {
          margin-left: 5px;
          width: 17px;
          height: 17px;
          border: none;
          border-radius: 50px;
          background-color: #c8cde4;
          @include flexbox(row, nowrap, center, center);


          &__quest-icon {
            width: 10px;
            height: 10px;
            line-height: 10px;
            font-family: 'question';
            font-size: 9px;
            color: white;
          }

          &__quest-icon::before {
            content: "\e900";
          }

        }
      }

      &--select {
        margin-top: 5px;
        width: 60%;
        min-height: 58px;
        @include flexbox(row, wrap, left, center);
        cursor: pointer;
        position: relative;

        .skillScore-button {
          width: 120px;
          height: 30px;
          display: flex;
          align-items: center;

          label {
            margin-left: 10px;
            font-family: "Poppins";
            font-size: 11px;
            font-weight: 500;
          }
        }


      }
    }

    &__jobLocation {
      @include flexbox(row, nowrap, space-between, center);
      width: 100%;
      min-height: 80px;
      margin-top: 10px;

      &--text {
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 600;
      }

      &--choose {
        width: 60%;
        min-height: 72px;
        @include flexbox(row, wrap, flex-start, flex-start);

        .jobLocation-input {
          width: 100%;
          height: 30px;
          @include flexbox(row, wrap, center, center);
          cursor: pointer;
          background-color: transparent;
          border: 1px solid #CBCBD9;
          font-family: "Poppins";
          font-size: 11px;
          font-weight: 500;
          padding-left: 10px;
        }

        .skillScore-button {
          width: 70px;
          height: 30px;
          margin-right: 10px;
          display: flex;
          align-items: center;

          label {
            margin-left: 7px;
            font-family: "Poppins";
            font-size: 11px;
            font-weight: 500;
          }
        }
      }

      .jobLocation-input:focus {
        border: 1px solid #44b4e7;
      }
    }

    &__salary {
      @include flexbox(row, nowrap, space-between, center);
      width: 100%;
      height: 45px;

      &--text {
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 600;
        width: 39%;

      }

      &--choose {
        width: 60%;
        height: 45px;
        @include flexbox(row, nowrap, space-between, center);

        .select-salary {
          width: 75%;
          height: 45px;
          @include flexbox(row, nowrap, left, center);
          cursor: pointer;
          position: relative;

          .visible {
            top: 10%;
            left: 0;
            width: 100%;
            height: 32px;
            position: absolute;
            background-color: transparent;
            @include flexbox(row, nowrap, space-between, center);
            border: 1px solid #CBCBD9;

            &__title {
              font-family: "Poppins";
              font-size: 11px;
              font-weight: 500;
              padding-left: 4px;
            }

            &__drop-icon {
              width: 9px;
              height: 6px;
              line-height: 5px;
              font-family: 'drop-down-arrow';
              font-size: 9px;
              color: #6E7585;
            }

            &__drop-icon::before {
              content: "\e900";
            }
          }

          .hidden {
            overflow-y: auto;
            z-index: 3;
            display: none;
            position: absolute;
            height: 158px;
            top: 40px;
            left: 0;
            width: 100%;
            padding: 10px;
            background-color: white;
            box-shadow: 3px 6px 8px 4px rgba(0, 0, 0, 0.25);

            p {
              width: 100%;
              height: 35px;
              border-bottom: 1px solid rgb(175, 175, 175);
              color: #292F3D;
              font-family: "Poppins";
              font-size: 11px;
              font-weight: 500;
              line-height: 35px;
            }
          }
        }

        .select-currency {
          width: 20%;
          height: 45px;
          @include flexbox(row, nowrap, left, center);
          cursor: pointer;
          position: relative;

          .visible {
            top: 10%;
            left: 0;
            width: 100%;
            height: 32px;
            position: absolute;
            background-color: transparent;
            @include flexbox(row, nowrap, space-between, center);
            border: 1px solid #CBCBD9;

            &__title-icon {
              width: 15px;
              height: 15px;
              margin-left: 7px;
              line-height: 15px;
              font-size: 10px;
              color: #292F3D;
            }

            &__title-icon::before {
              content: "\e900";
            }

            &__drop-icon {
              width: 9px;
              height: 6px;
              line-height: 5px;
              font-family: 'drop-down-arrow';
              font-size: 9px;
              color: #6E7585;
            }

            &__drop-icon::before {
              content: "\e900";
            }
          }

          .hidden {
            overflow-y: auto;
            z-index: 3;
            display: none;
            position: absolute;
            height: 100px;
            top: 45px;
            left: 0;
            width: 100%;
            padding: 10px;
            background-color: white;
            box-shadow: 3px 6px 8px 4px rgba(0, 0, 0, 0.25);

            &__currency {
              width: 100%;
              height: 30px;
              border-bottom: 1px solid rgb(175, 175, 175);
              color: #292F3D;
              margin-bottom: 5px;

              &--icon {
                width: 10px;
                height: 10px;
                margin-left: 7px;
                line-height: 5px;
                font-size: 10px;
                color: #292F3D;
              }

              &--icon::before {
                content: "\e900";
              }


            }
          }
        }

      }
    }

    &__termContr {
      @include flexbox(row, nowrap, space-between, center);
      width: 100%;
      min-height: 45px;
      margin-top: 10px;

      &--text {
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 600;
      }

      &--choose {
        // margin-top: 10px;
        width: 60%;
        min-height: 45px;
        @include flexbox(row, wrap, flex-start, center);

        .termContr-button {
          width: 82px;
          height: 32px;
          margin-right: 10px;
          display: flex;
          align-items: center;

          label {
            margin-left: 7px;
            font-family: "Poppins";
            font-size: 11px;
            font-weight: 500;
          }
        }

        .termContr-button:nth-child(3) {
          width: 50px;
          height: 32px;
          margin-right: 10px;
          display: flex;
          align-items: center;

          label {
            margin-left: 7px;
            font-family: "Poppins";
            font-size: 11px;
            font-weight: 500;
          }
        }
      }

      .jobLocation-input:focus {
        border: 1px solid #44b4e7;
      }
    }

    &__workMode {
      @include flexbox(row, nowrap, space-between, center);
      width: 100%;
      min-height: 45px;
      margin-top: 10px;

      &--text {
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 600;
        width: 39%;

      }

      &--choose {
        // margin-top: 10px;
        width: 60%;
        min-height: 45px;
        @include flexbox(row, wrap, flex-start, flex-start);

        .workMode-button {
          width: 75px;
          height: 32px;
          margin-right: 10px;
          display: flex;
          align-items: center;

          label {
            margin-left: 7px;
            font-family: "Poppins";
            font-size: 11px;
            font-weight: 500;
          }
        }

        .workMode-button:nth-child(3) {
          width: 50px;
          height: 32px;
          margin-right: 10px;
          display: flex;
          align-items: center;

          label {
            margin-left: 7px;
            font-family: "Poppins";
            font-size: 11px;
            font-weight: 500;
          }
        }
      }

    }

    &__dueDate {
      @include flexbox(row, nowrap, space-between, center);
      width: 100%;
      height: 45px;

      &--text {
        width: 39%;
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 600;
        @include flexbox(row, nowrap, none, center);

        .calendar-info {
          width: 20px;
          height: 22px;
          border: none;
          border-radius: 50px;
          background-color: transparent;
          @include flexbox(row, nowrap, left, center);
          padding: 0;
          margin-right: 9px;

          &__icon {
            width: 15px;
            height: 15px;
            line-height: 15px;
            font-size: 15px;
            font-family: 'calendar';
            color: #0CACF8;
          }

          &__icon::before {
            content: "\e900";
          }

        }
      }

      &--select {
        width: 60%;
        height: 45px;
        @include flexbox(row, nowrap, left, center);
        cursor: pointer;
        position: relative;

        .visible {
          top: 10%;
          left: 0;
          width: 100%;
          height: 32px;
          position: absolute;
          background-color: transparent;
          @include flexbox(row, nowrap, space-between, center);
          border: 1px solid #CBCBD9;

          &__title {
            font-family: "Poppins";
            font-size: 11px;
            font-weight: 500;
            padding-left: 4px;
          }


          &__drop-icon {
            width: 12px;
            height: 12px;
            line-height: 15px;
            font-size: 12px;
            font-family: 'calendar';
            color: #6E7585;
          }

          &__drop-icon::before {
            content: "\e900";
          }
        }

        .hidden {
          z-index: 3;
          display: none;
          position: absolute;
          height: 138px;
          top: -158px;
          left: 0;
          width: 90%;
          padding: 10px;
          background-color: white;
          box-shadow: 3px 6px 8px 4px rgba(0, 0, 0, 0.25);

          p {
            width: 100%;
            height: 30px;
            border-bottom: 1px solid rgb(175, 175, 175);
            color: #292F3D;
            margin-bottom: 5px;
            font-family: "Poppins";
            font-size: 11px;
            font-weight: 500;
          }
        }

      }
    }

  }
}








.other-info {
  width: 48.5%;
  min-height: 10vh;
  margin: 10px auto;

  &__jobDesc {
    width: 93%;
    min-height: 10px;
    @include flexbox(column, nowrap, space-around, center);
    padding: 18px;
    position: relative;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);

    &--arrowNavigate {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 14px;
      height: 14px;
      cursor: pointer;
      font-size: 14px;
      font-family: 'up-navigate-arrow';
      color: #6E7585;
    }

    &--arrowNavigate:before {
      content: "\e900";
    }

    &--visible {
      width: 100%;
      min-height: 10px;
      @include flexbox(row, nowrap, space-around, center);

      .jobDescription-icon {
        width: 60px;
        height: 72px;

        .icon-description {
          width: 56px;
          height: 56px;
          line-height: 65px;
          font-size: 40px;
          font-family: 'description';
          color: #6E7585;
          position: relative;
        }

        .icon-description .path1:before {
          content: "\e900";
          color: #6b7181;
        }

        .icon-description .path2:before {
          content: "\e901";
          color: #0cacf8;
          margin-left: -1em;
        }

        .icon-description .path3:before {
          content: "\e902";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-description .path4:before {
          content: "\e903";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-description .path5:before {
          content: "\e904";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-description .path6:before {
          content: "\e905";
          color: #6b7181;
          margin-left: -1em;
        }
      }

      .job-description {
        width: 84%;
        height: 80px;

        &__title {
          width: 100%;
          height: 40px;
          font-family: "Poppins";
          font-size: 17px;
          font-weight: 700;
          @include flexbox(row, wrap, left, center);
        }

        &__text {
          font-family: "Poppins";
          font-size: 11px;
          font-weight: 500;
          @include flexbox(row, wrap, left, center);
          color: #acb0ba;
          line-height: 15px;
        }

      }
    }

    &--textNote {
      width: 97%;
      @include flexbox(column, nowrap, left, center);
      overflow: hidden;

      .upload {
        width: 100%;
        @include flexbox(row, wrap, left, center);
        font-size: 16px;
        margin-bottom: 5px;

        label {
          font-size: 20px;
        }

        .upload-btn-wrapper {
          position: relative;
          overflow: hidden;
          display: inline-block;
        }

        .btn {
          @include flexbox(row, wrap, space-around, center);
          background-color: transparent;
          color: #5dc8fa;
          padding-left: 10px;
          border: none;
          font-size: 12px;
          font-weight: 500;
          width: 100%;
          height: 30px;
          cursor: pointer;
          padding: 0%;

          &__resent-icon {
            margin-right: 7px;
            width: 15px;
            height: 15px;
            line-height: 12px;
            font-family: 'resent';
            font-size: 15px;
            color: #0CACF8;
          }

          &__resent-icon::before {
            content: "\e900";
          }
        }

        .upload-btn-wrapper input[type=file] {
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          width: 100%;
          height: 30px;
          cursor: pointer;

        }
      }

      .notePad {
        width: 100%;
        height: 132px;
        border: 1px solid #CBCBD9;

        &__form-group {
          width: 100%;
          height: 100%;
        }

      }
    }


  }

  &__companyDesc {
    margin-top: 15px;
    width: 93%;
    min-height: 72px;
    @include flexbox(column, nowrap, space-around, center);
    padding: 18px;
    position: relative;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);

    &--arrowNavigate {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 14px;
      height: 14px;
      cursor: pointer;
      font-size: 14px;
      font-family: 'up-navigate-arrow';
      color: #6E7585;
    }

    &--arrowNavigate:before {
      content: "\e900";
    }

    &--visible {
      width: 100%;
      min-height: 72px;
      @include flexbox(row, nowrap, space-around, center);

      .compDescription-icon {
        width: 50px;
        height: 62px;

        .icon-companyDesc {
          width: 56px;
          height: 56px;
          line-height: 65px;
          font-size: 44px;
          font-family: 'companyDesc';
          color: #6E7585;
          position: relative;
        }

        .icon-companyDesc .path1:before {
          content: "\e900";
          color: #0cacf8;
        }

        .icon-companyDesc .path2:before {
          content: "\e901";
          color: #0cacf8;
          margin-left: -1em;
        }

        .icon-companyDesc .path3:before {
          content: "\e902";
          color: #0cacf8;
          margin-left: -1em;
        }

        .icon-companyDesc .path4:before {
          content: "\e903";
          color: #0cacf8;
          margin-left: -1em;
        }

        .icon-companyDesc .path5:before {
          content: "\e904";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-companyDesc .path6:before {
          content: "\e905";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-companyDesc .path7:before {
          content: "\e906";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-companyDesc .path8:before {
          content: "\e907";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-companyDesc .path9:before {
          content: "\e908";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-companyDesc .path10:before {
          content: "\e909";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-companyDesc .path11:before {
          content: "\e90a";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-companyDesc .path12:before {
          content: "\e90b";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-companyDesc .path13:before {
          content: "\e90c";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-companyDesc .path14:before {
          content: "\e90d";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-companyDesc .path15:before {
          content: "\e90e";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-companyDesc .path16:before {
          content: "\e90f";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-companyDesc .path17:before {
          content: "\e910";
          color: #6b7181;
          margin-left: -1em;
        }
      }

      .company-description {
        width: 84%;
        height: 80px;

        &__title {
          width: 100%;
          height: 40px;
          font-family: "Poppins";
          font-size: 17px;
          font-weight: 700;
          @include flexbox(row, wrap, left, center);
        }

        &__text {
          font-family: "Poppins";
          font-size: 11px;
          font-weight: 500;
          @include flexbox(row, wrap, left, center);
          color: #acb0ba;
          line-height: 15px;
        }

      }
    }

    &--hidden {
      overflow: hidden;
      width: 100%;
      @include flexbox(column, nowrap, left, center);

      .upload {
        width: 100%;
        @include flexbox(row, wrap, left, center);
        font-size: 16px;
        margin-bottom: 5px;

        label {
          font-size: 20px;
        }

        .upload-btn-wrapper {
          position: relative;
          overflow: hidden;
          display: inline-block;
        }

        .btn {
          @include flexbox(row, wrap, space-around, center);
          background-color: transparent;
          color: #5dc8fa;
          padding-left: 10px;
          border: none;
          font-size: 12px;
          font-weight: 500;
          width: 100%;
          height: 30px;
          cursor: pointer;


          &__resent-icon {
            margin-right: 7px;
            width: 15px;
            height: 15px;
            line-height: 12px;
            font-family: 'resent';
            font-size: 15px;
            color: #0CACF8;
          }

          &__resent-icon::before {
            content: "\e900";
          }
        }

        .upload-btn-wrapper input[type=file] {
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          width: 100%;
          height: 30px;
          cursor: pointer;

        }



      }

      .hidden-text {
        width: 90%;
        padding: 15px;
        font-family: "Poppins";
        font-size: 11px;
        font-weight: 400;
        border: 1px solid #acb0ba;
        line-height: 20px;
        @include flexbox(row, wrap, left, center);
      }
    }


  }

  &__question {
    margin-top: 15px;
    width: 93%;
    min-height: 72px;
    @include flexbox(column, nowrap, space-around, center);
    padding: 18px;
    position: relative;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);

    &--arrowNavigate {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 14px;
      height: 14px;
      cursor: pointer;
      font-size: 14px;
      font-family: 'up-navigate-arrow';
      color: #6E7585;
    }

    &--arrowNavigate:before {
      content: "\e900";
    }

    &--visible {
      width: 100%;
      min-height: 72px;
      @include flexbox(row, nowrap, space-around, center);

      .screenQuest-icon {
        width: 55px;
        height: 72px;

        .icon-screenQuest {
          width: 56px;
          height: 56px;
          line-height: 65px;
          font-size: 45px;
          font-family: 'screenQuest';
          color: #6E7585;
          position: relative;
        }

        .icon-screenQuest .path1:before {
          content: "\e900";
          color: #0cacf8;
        }

        .icon-screenQuest .path2:before {
          content: "\e901";
          color: #0cacf8;
          margin-left: -1em;
        }

        .icon-screenQuest .path3:before {
          content: "\e902";
          color: #0cacf8;
          margin-left: -1em;
        }

        .icon-screenQuest .path4:before {
          content: "\e903";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-screenQuest .path5:before {
          content: "\e904";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-screenQuest .path6:before {
          content: "\e905";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-screenQuest .path7:before {
          content: "\e906";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-screenQuest .path8:before {
          content: "\e907";
          color: #6b7181;
          margin-left: -1em;
        }

        .icon-screenQuest .path9:before {
          content: "\e908";
          color: #6b7181;
          margin-left: -1em;
        }
      }

      .screen-question {
        width: 84%;
        height: 80px;

        &__title {
          width: 100%;
          height: 40px;
          font-family: "Poppins";
          font-size: 17px;
          font-weight: 700;
          @include flexbox(row, wrap, left, center);
        }

        &__text {
          font-family: "Poppins";
          font-size: 11px;
          font-weight: 500;
          @include flexbox(row, wrap, left, center);
          color: #acb0ba;
          line-height: 15px;
        }

      }
    }

    &--questNote {
      overflow: hidden;
      width: 100%;
      @include flexbox(column, nowrap, left, center);

      .upload {
        width: 100%;
        @include flexbox(row, wrap, left, center);
        font-size: 16px;
        margin-bottom: 5px;

        label {
          font-size: 20px;
        }

        .upload-btn-wrapper {
          position: relative;
          overflow: hidden;
          display: inline-block;
        }

        .btn {
          @include flexbox(row, wrap, space-around, center);
          background-color: transparent;
          color: #5dc8fa;
          padding-left: 10px;
          border: none;
          font-size: 12px;
          font-weight: 500;
          width: 100%;
          height: 30px;
          cursor: pointer;


          &__resent-icon {
            margin-right: 7px;
            width: 15px;
            height: 15px;
            line-height: 12px;
            font-family: 'resent';
            font-size: 15px;
            color: #0CACF8;
          }

          &__resent-icon::before {
            content: "\e900";
          }
        }

        .upload-btn-wrapper input[type=file] {
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          width: 100%;
          height: 30px;
          cursor: pointer;

        }



      }

      .question-list {
        padding: 5px 15px 5px 15px;
        width: 91%;
        height: 30px;
        background-color: #F0F8FF;
        @include flexbox(row, nowrap, space-between, center);
        margin-bottom: 5px;

        &__write {
          width: 80%;
          height: 30px;
          @include flexbox(row, nowrap, space-between, center);

          &--id {
            font-family: "Poppins";
            font-size: 11px;
            font-weight: 500;
          }

          &--input {
            width: 100%;
            height: 30px;
            border: none;
            padding-left: 10px;
            background-color: transparent;
            font-family: "Poppins";
            font-size: 12px;
            font-weight: 500;
          }
        }

        &__text {
          width: 80%;
          height: 14px;
          font-family: "Poppins";
          font-size: 12px;
          font-weight: 500;

          span {
            border-left: 1px solid black;
            height: 22px;
          }
        }

        &__button {
          width: 45px;
          height: 30px;
          @include flexbox(row, nowrap, flex-end, center);

          &--bin {
            border: none;
            width: 16.8px;
            height: 17.1px;
            margin-right: 10px;
            background-color: #F0F8FF;

            .delete {
              margin-right: 7px;
              width: 15px;
              height: 15px;
              line-height: 12px;
              font-family: 'delete';
              font-size: 15px;
              color: #FD6363;
            }

            .delete::before {
              content: "\e900";
            }
          }

          &--menu {
            border: none;
            width: 16.8px;
            height: 17.1px;
            background-color: #F0F8FF;

            .menu {
              margin-right: 7px;
              width: 15px;
              height: 15px;
              line-height: 12px;
              font-family: 'menu';
              font-size: 15px;
              color: #0CACF8;
            }

            .menu::before {
              content: "\e900";
            }

          }
        }
      }

      .add-question {
        width: 140px;
        height: 22px;
        @include flexbox(row, nowrap, center, center);
        margin-top: 5px;
        background-color: white;
        font-size: 12px;
        font-weight: 600;
        color: #39bbf9;
        border: none;

        .plus {
          width: 19.25px;
          height: 19.25px;
          line-height: 22.25px;
          font-family: 'plus-circuse';
          font-size: 16px;
          color: #0CACF8;
          margin-right: 5px;
          font-weight: 400;

        }

        .plus::before {
          content: "\e901";
          // content: &#x;
        }

      }


    }


  }
}

.order-button {
  width: 150px;
  height: 40px;
  background-color: #0cacf8;
  color: white;
  border-radius: 2px;
  border: 1px solid #0cacf8;
  font-size: 13px;
  margin-bottom: 30px;
  transition: background-color 600ms ease-in-out, border 600ms ease-in-out, box-shadow 600ms ease-in-out, color 600ms ease-in-out;
}

.order-button:hover {
  background-color: transparent;
  border: 1px solid #0cacf8;
  box-shadow: 0px 0px 7px 1px #0cacf8;
  color: #0cacf8;
}

.order-button:focus {
  background-color: transparent;
  border: 1px solid #0cacf8;
  box-shadow: 0px 0px 7px 1px #0cacf8;
  color: #0cacf8;
}


::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  background: transparent;
}
