/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/reset";

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b7bac2;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b7bac2;
}


