<nav class="order-type w-100 flex nowrap aic bc-white">
  <div class="order-type__item flex nowrap aic" routerLinkActive="txt-c-blue" [routerLink]="[ 'active' ]">
    <p class="order-type__item--title font-14">ACTIVE</p>
    <p class="not-read flex nowrap jcc aic bc-blue">23</p>
    <span routerLinkActive="active-link bc-blue"></span>
  </div>
  <div class="order-type__item flex nowrap aic" routerLinkActive="txt-c-blue" [routerLink]="[ 'drafts' ]">
    <p class="order-type__item--title font-14">DRAFTS</p>
    <p class="not-read flex nowrap jcc aic bc-blue">2</p>
    <span routerLinkActive="active-link bc-blue"></span>
  </div>
  <div class="order-type__item flex nowrap aic" routerLinkActive="txt-c-blue" [routerLink]="[ 'closed' ]">
    <p class="order-type__item--title font-14">CLOSED</p>
    <p class="not-read flex nowrap jcc aic bc-blue">4</p>
    <span routerLinkActive="active-link bc-blue"></span>
  </div>
</nav>
<section [style.height]="'88%'">
  <router-outlet></router-outlet>
</section>
