@import "../../../../assets/styles/mixins";

.active {
  color: #0CACF8;
}

.order-type {
  height: 57px;
  border-top: 1px solid #CBCBD9;
  border-bottom: 1px solid #CBCBD9;

  &__item {
    margin-left: 30px;
    width: auto;
    height: 57px;
    cursor: pointer;
    position: relative;

    &--title {
      font-family: "Poppins";
      font-weight: 600;
      font-style: normal;
      font-size: 14px;
    }

    &--choose {
      position: absolute;
      height: 5px;
      bottom: -1px;

    }
  }
}
