@import "../../../../assets/styles/mixins";

.active {
  // border-bottom: 4px solid #0CACF8;
  color: #0CACF8;
}

.order-type {
  width: 100%;
  height: 45px;
  border-top: 1px solid #CBCBD9;
  border-bottom: 1px solid #CBCBD9;
  
  @include flexbox(row, nowrap, flex-start, center);
  background-color: white;

  &__active {
    @include flexbox(row, nowrap, flex-start, center);
    margin-left: 30px;
    width: auto;
    height: 45px;
    cursor: pointer;
    position: relative;
    &--title {
      font-family: "Poppins";
      font-weight: 600;
      font-style: normal;
      font-size: 12px;
    }

    &--unread {
      width: 18px;
      height: 18px;
      font-family: "Poppins";
      font-weight: 500;
      font-style: normal;
      font-size: 10px;
      @include flexbox(row, nowrap, center, center);
      border-radius: 50%;
      background-color: #0CACF8;
      color: white;
      margin-left: 6px;
    }
    &--choose{
     position: absolute;
     width: 100%;
     height: 5px;
     background-color: #0CACF8;
     bottom: -1px;

    }
  }

  &__drafts {
    @extend .order-type__active;

    &--title {
      @extend .order-type__active--title;

    }

    &--unread {
      @extend .order-type__active--unread;
    }
  }

  &__closed {
    @extend .order-type__active;


    &--title {
      @extend .order-type__active--title;

    }

    &--unread {
      @extend .order-type__active--unread;

    }
  }
}
