@import "../../../../assets/styles/mixins";

.active {
  border-bottom: 4px solid #0caaf5;
  color: #0caaf5;
}

.order-type {
  width: 100%;
  height: 6vh;
  border-bottom: 1.5px solid rgb(175, 175, 175);
  @include flexbox(row, nowrap, flex-start, center);

  &__active {
    @include flexbox(row, nowrap, space-between, center);
    margin-left: 20px;
    width: 75px;
    height: 6vh;
    cursor: pointer;

    &--title {
      font-family: sans-serif;
      font-weight: 700;
      font-size: 12.5px;
    }

    &--unread {
      width: 18px;
      height: 18px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 12px;
      font-weight: 400;
      @include flexbox(row, nowrap, center, center);
      border-radius: 50%;
      background-color: #0caaf5;
      color: white;
    }
  }

  &__drafts {
    @extend .order-type__active;

    &--title {
      @extend .order-type__active--title;

    }

    &--unread {
      @extend .order-type__active--unread;
    }
  }

  &__closed {
    @extend .order-type__active;


    &--title {
      @extend .order-type__active--title;

    }

    &--unread {
      @extend .order-type__active--unread;

    }
  }
}
