<section class="jobApply bc-gray w-100">
  <div class="jobApply__container">
    <div class="jobApply__container--list w-100 flex wrap jcsa aic bc-white"
      *ngFor="let person of events ; let i=index ">
      <div class="logo flex nowrap m-t-10 m-b-10 aic jcsb m-l-10">
        <img class="user-logo m-r-10" [src]="person?.icon" alt="">
        <div class="data m-r-10 m-l-5 flex col nowrap jcsb aifs ">
          <h2 class="data__person-name font-15">{{person?.name}}</h2>
          <p class="data__person-profession font-13 txt-c-initial w-100">{{person?.prof_skill}}</p>
        </div>
      </div>

      <div class="interview-date m-r-10 flex col m-t-10 m-b-10 nowrap jcsb aifs">
        <p class="interview-date__date-title font-13 txt-c-initial"> DATE & TIME </p>
        <div class="interview-date__interview-time font-15 w-100 flex nowrap jcfs aic">
          <span aria-hidden="true" data-icon="&#xe900;"
            class="interview-date__interview-time--icon txt-c-blue icon-clock"></span>
          <p class="interview-date__interview-time--text font-15">{{person?.data}} {{person?.time}}</p>
        </div>
      </div>
      <div class="interviewers m-r-10 flex col nowrap jcsb m-t-10 m-b-10 aifs">
        <p class="interviewers__interviewers-title font-13 txt-c-initial">INTERVIEWERS</p>
        <div class="interviewers__interviewers-all flex nowrap jcfs aic">
          <img [src]="interv" alt="" class="interviewers__interviewers-all--icon"
            *ngFor="let interv of person?.interviewers">
        </div>
      </div>
      <div class="orders m-r-10 flex col m-t-10 m-b-10 nowrap jcsb aifs">
        <p class="orders__orders-title font-13 txt-c-initial">ORDERS</p>
        <p class="orders__orders-prof font-15 w-100">{{person?.order}}</p>
      </div>
      <div class="person-rate m-r-10 flex m-t-10 m-b-10 col nowrap jcsb aifs">
        <p class="person-rate__title font-13 txt-c-initial">SKILLCHECKERS SCORE</p>
        <p class="person-rate__number font-13 bc-green txt-c-white">{{person?.skillscore}}</p>
      </div>
      <div class="person-rate m-r-10 flex col nowrap m-t-10 m-b-10 jcsb aifs" *ngIf="person?.ourscore">
        <p class="person-rate__title font-12 txt-c-initial">OUR SCORE</p>
        <p class="person-rate__number font-11 bc-green txt-c-white">{{person?.ourscore}}</p>
      </div>
      <button *ngIf="!person?.ourscore" (click)="openModal(person)"
        class="warning m-t-10 m-b-10 bdc-light-blue btn p-0 m-r-10 flex nowrap jcc aic bc-light-blue txt-c-black">
        <span class="icon-Vector btn-icon-left font-19"></span>
        <p class="warning__review font-13 bc-light-blue txt-c-black"> Review needed</p>
      </button>

    </div>
  </div>

</section>
<section class="modal w-100 flex aic jcc nowrap" *ngIf="isModal" >
  <div class="modal__block flex col aic jcsb p-10" (clickOutside)="onClickedOutsideItem($event)">
    <div class="modal__block--cross w-100 flex m-t-4 m-r-4 aic jcfe" (click)="closeModal()">
      <span class="icon-close"></span>
    </div>
    <div class="modal__block--title w-100 flex aic jcc nowrap txt-c-blue font-25">Thank you</div>
    <div class="modal__block--text w-100 flex aic jcc nowrap font-20 txt-c-black">What is your impression of the
      candidate's <br> skills(hard and soft skills altogether)?</div>
    <div class="w-100 flex nowrap aic jcc">
      <div class="rates bdc-light-gray font-14 flex aic jcsa col nowrap m-r-3" *ngFor="let rate of rates"> <input
          type="radio" name="rate" (click)="chooseMark(rate)"> <span>{{rate}}</span></div>
    </div>
    <div class="modal__block--button m-b-35 flex aic jcc nowrap"><button
        class="btn skip bc-gray bdc-gray m-r-10 font-13 txt-c-black" (click)="closeModal()">Skip</button> <button
        class="submit btn bc-blue bdc-blue font-13" >Submit</button></div>
  </div>
</section>
