@import "../../../../../assets/styles/mixins";
@import "../../../../../assets/styles/font";

.jobApply {
  height: 100%;
  overflow-y: scroll;

  &__container {
    padding: 15px 15px 15px 15px;
    min-height: 10px;

    &--list {
      min-height: 82px;
      border-radius: 2px;
      margin-bottom: 10px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);

      .logo {
        width: 220px;
        height: 50px;

        .data {
          height: 44px;
          width: 100%;
          // margin-left: 5px;

          &__person-name {
            font-weight: 600;
          }

          &__person-profession {
            height: 20px;
            line-height: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      .interview-date {
        height: 44px;
        width: 180px;

        &__interview-time {

          &--icon {
            width: 15px;
            height: 15px;
            line-height: 15px;
            font-weight: 500;
            font-size: 15px;
            margin-right: 7px;
          }

          &--text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        &__date-title {
          font-weight: 550;
        }
      }

      .interviewers {
        height: 44px;
        width: 84px;

        &__interviewers-all {
          width: 50%;
          height: 24px;
          position: relative;

          &--icon {
            width: 23px;
            height: 23px;
            border-radius: 50px;
            border: 1px solid white;
          }

          &--icon:nth-child(2) {
            position: absolute;
            left: 16px;
            border: 1px solid white;
          }
        }

        &__interviewers-title {
          font-weight: 550;
        }
      }

      .orders {
        height: 44px;
        width: 163px;

        &__orders-prof {
          height: 20px;
          line-height: 20px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &__orders-title {
          font-weight: 550;
          height: 10px;
        }
      }

      .person-rate {
        height: 44px;
        width: 170px;

        &__number {
          width: 39px;
          height: 21px;
          border-radius: 15px;
          text-align: center;
          line-height: 21px;
          border: 3px solid white;
        }

        &__orders-title {
          font-weight: 550;
          height: 10px;
        }
      }

      .warning {
        width: 172px;
        height: 38px;

        &__review {
          font-weight: 600;
        }
      }



    }
  }
}

.modal {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.274);
  // background: gray;

  &__block {
    width: 678px;
    height: 335px;
    background-color: white;

    &--cross {
      .icon-close {
        font-size: 12px;
        color: #6E7585;
        cursor: pointer;
      }
    }

    &--title {
      font-weight: 600;
    }

    &--text {
      font-weight: 600;
      text-align: center;
    }

    .rates {
      width: 51px;
      height: 68px;
      border-radius: 5px;
    }

    &--button {
      .skip {
        padding: 0;
        width: 105px;
        height: 40px;
        transition: background-color 600ms ease-in-out, border 600ms ease-in-out, box-shadow 600ms ease-in-out, color 600ms ease-in-out;
      }

      .submit {
        padding: 0;
        width: 105px;
        height: 40px;
        transition: background-color 600ms ease-in-out, border 600ms ease-in-out, box-shadow 600ms ease-in-out, color 600ms ease-in-out;
      }


      .submit:focus {
        background-color: transparent;
        border: 1px solid #0cacf8;
        box-shadow: 0px 0px 7px 1px #0cacf8;
        color: #0cacf8;
      }
      .skip:hover {
        background-color: transparent;
        border: 1px solid #EEF0F8;
        box-shadow: 0px 0px 7px 1px #EEF0F8;
        // color: #EEF0F8;
      }
    }
  }
}
















::-webkit-scrollbar {
  width: 3px;
  height: 6px;
  background: transparent;
}
